{% extends 'app/panel.html'%}{% load widget_tweaks %}{% load staticfiles %}
{% block title-view %}Detalles del Servicio | Tecnix{% endblock %}
{% block sidebar-view %}
  <li class="list-group-item"><a href="{% url 'crear_solicitud' %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Solicitar servicio</a></li>
  <li class="list-group-item"><a href="{% url 'panel' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Escritorio</a></li>
  <li class="list-group-item"><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Mi perfil</a></li>
  <li class="list-group-item active"><a href="{% url 'solicitudes' %}"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp; Mis servicios</a></li>
  <li class="list-group-item"><a href="{% url 'logout_view' %}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp; Cerrar sesión</a></li>
{% endblock %}
{% block body-view %}
  <h1><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp; Detalles de servicio: {{solicitud.codigo}}</h1>
  <p><a href="{% url 'solicitudes' %}">Volver a Mis servicios</a></p>
  <hr>
  <div id="service-details" class="row">
  <div class="col-xs-7">
    <!--<p><strong>Información de equipo:</strong></p>
    <div class="row block">
      <div class="col-xs-3 text-center">
        <img src="img/pc-brand-logos/asus.png" alt="Acer">
      </div>
      <div class="col-xs-9">
        <p>Asus M123 <span class="label label-default">PC de escritorio</span></p>
      </div>
    </div>-->
    
    <div class="panel panel-primary">
      <div class="panel-heading">
        {% if user.cliente %}
          Información del técnico asignado:
          {% else %}
          Información de cliente:
        {% endif %}
        
      </div>
      <table class="table">

        {% if solicitud.estado == 'Nueva' or solicitud.estado == 'En Espera' %}
          <tr>
            
              <td>
                <h2>En espera</h2>
                
              </td>
          </tr>
        {% else  %}
          {% if user.tecnico %}
            <tr>
            <center>

                <h4>{{solicitud.cliente.first_name}}</h4>
      
              {% if solicitud.cliente.foto %}
              <img src="{{solicitud.cliente.foto.url}}" width="120px" class="img img-responsive img-rounded" alt="Foto cliente">
              {% endif %}

               {% if solicitud.estado == 'Tecnico Asignado' %}
              <h4>Teléfono: {{solicitud.telefono}}</h4>
              <h4>Miembro desde {{solicitud.cliente.date_joined|date:"F Y"}}</h4>
              
            </center>
              {% endif %}
            </tr>
       
              
             
              
             
       
          {% elif user.cliente and solicitud.tecnico %}
          <tr>
            <center>
              <h4>{{solicitud.tecnico.first_name}} - Nivel {{solicitud.tecnico.nivel}}</h4>
            </center>
          
                
             
          </tr>
            <tr>
            <center>
              {% if solicitud.tecnico.foto %}
              <img src="{{solicitud.tecnico.foto.url}}" width="120px" class="img img-responsive img-rounded" alt="Foto tecnico">
            </center>
              {% endif %}
            </tr>
            <tr>
            <center>
              Miembro desde {{solicitud.tecnico.date_joined|date:"F Y"}}
            </center>
            </tr>
            {% elif not solicitud.tecnico  %}
             <tr>
              <td>
                <h2>No se asignó tecnico</h2>
              </td>
              
            </tr>
          {% endif %}
        {% endif %}
        </tr>
      </table>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Información de solicitud de servicio:
      {% if solicitud.estado == 'Nueva' %}
          <span class="label label-success label-mini pull-right">Nueva</span>
          {% endif %} 
          {% if solicitud.estado == 'En Espera' %}
            <span class="label label-info label-mini pull-right">En Espera</span>
          {% endif %} 
          {% if solicitud.estado == 'Tecnico Asignado' %}
          <span class="label label-info label-mini pull-right">Técnico Asignado</span>
          {% endif %} 
          {% if solicitud.estado == 'Solicitud Cerrada' %}
            <span class="label label-default label-mini pull-right">Solicitud Cerrada</span>
          {% endif %}
      </div>
      <table class="table">
        <tr>
          <td>Tipo de servicio:</td>
          <td>{{solicitud.paquete}}</td>
        </tr>
        <tr>
          <td>Servicio solicitado:</td>
          <td>
            {{solicitud.servicio.nombre}}
         </td>
        </tr>
        <tr>
          <td>Tipo de Dispositivo:</td>
          <td>{{solicitud.tipo_dispositivo}}</td>
        </tr>
        <tr>
          <td>Número de Dispositivos:</td>
          <td>{{solicitud.num_equipos}}</td>
        </tr>
        <tr>
        <td>Fecha de solicitud:</td>
          <td>{{solicitud.fecha_solicitado}}</td>
        </tr>
        <tr>
        <td>
          Fecha de inicio del servicio:
        </td>
          <td>{% if  solicitud.fecha_inicio == None %}
                No ha llegado el técnico
              {% else %}
                {{solicitud.fecha_inicio}}
              {% endif %}
          </td>
          </tr>
          <tr>
          <td>Fecha fin del servicio:</td>
          <td>
            {% if solicitud.fecha_inicio and solicitud.fecha_fin == None %}
                No se ha terminado el servicio
              {% elif solicitud.fecha_inicio == None and solicitud.fecha_fin == None %}
               No ha llegado el técnico
                {% elif solicitud.fecha_inicio and solicitud.fecha_fin %}
                {{solicitud.fecha_fin}}
              {% endif %}
          </td>
        </tr>
        <tr>
          <td>Domicilio:</td>
          <td>
            Barrio: {{solicitud.direccion}}<br>
            {{solicitud.direccion_completa}}
          </td>
        </tr>
        
        <tr>
          <td>Observaciones:</td>
          <td>{{solicitud.observaciones}}</td>
        </tr>
        <tr>
          <td>Costo de servicio:</td>
          <td>${{solicitud.total}} COP</td>
        </tr>
      </table>
    </div>
    <div class="row">
      {% if user.cliente and not solicitud.estado == 'Solicitud Cerrada' %}
      <a href="#" class="btn btn-danger btn-lg pull-right" data-toggle="modal" data-target="#myModal"><i class="fa fa-times"></i> Cancelar Servicio</a>
       
      {% endif %}
      {% if user.cliente and solicitud.estado == 'Tecnico Asignado' and solicitud.fecha_inicio == None %}
        <input type="button" name="{{solicitud.codigo}}"class="btn btn-success btn-lg pull-left" id="confirmar_llegada_tecnico" value="Ha llegado el técnico">
       {% endif %}
       {% if user.cliente and not solicitud.fecha_inicio == None and solicitud.fecha_fin == None %}
        <input type="button" name="{{solicitud.codigo}}"class="btn btn-success btn-lg pull-left" id="confirmar_fin_servicio" value="Terminar servicio">
       {% endif %}
    </div>
    {% if user.cliente and solicitud.estado == 'Solicitud Cerrada' and not calificacion and solicitud.tecnico%}
    <div class="panel panel-default">
      <div class="panel-heading">Calificar servicio:</div>
      <div class="panel-body">
        
          <label><input type="radio" name="calificacion" id="optionsRadios1" value="1"> Malo</label>&nbsp;&nbsp;
          <label><input type="radio" name="calificacion" id="optionsRadios1" value="2"> Regular</label>&nbsp;&nbsp;
          <label><input type="radio" name="calificacion" id="optionsRadios1" value="3"> Bueno</label>&nbsp;&nbsp;
          <label><input type="radio" name="calificacion" id="optionsRadios1" value="4"> Muy Bueno</label>&nbsp;&nbsp;
          <label><input type="radio" name="calificacion" id="optionsRadios1" value="5"> Excelente</label>
          <br>
          <br>
          <label class="textarea">
            Comentarios (Opcional):
            <textarea class="form-control" name="comentario" id="comentario"></textarea>
          </label>
          <br>
          <input type="submit" value="Enviar Calificación" name="{{solicitud.codigo}}" class="btn btn-primary" id="calificar_servicio">
      
      </div>
    </div>
    {% endif %}
   {% if calificacion %}
      <div class="panel panel-info">
      <div class="panel-heading">Calificación del servicio:</div>
      <div class="panel-body">
      <table class="table">
       
        <tr>
          <td>Calificación:</td>
          <td>
          {% if calificacion.puntuacion == 1 %}
            <label class="text-danger">Muy malo</label>
            <i class="fa fa-star"></i>
            {% elif calificacion.puntuacion == 2 %}
              <label class="text-danger">Malo</label>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i> 
            {% elif calificacion.puntuacion == 3 %}
              <label class="text-warning">Regular</label>  
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            {% elif calificacion.puntuacion == 4 %}
              <label class="text-info">Bueno</label>  
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            {% elif calificacion.puntuacion == 5 %}
              <label class="text-success">Muy Bueno</label>  
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>     

          {% endif %}
          </td>
        </tr>
        <tr>
          <td>Comentario:</td>
          <td>{% if calificacion.comentario == "" %}
              Ninguno
              {% else %}
              {{calificacion.comentario}}
          </td>
        </tr>
      </table>
      </div>
    </div>
    {% endif %}

  {% endif %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
         
                Cancelar Servicio
        </h4>
      </div>
      <div class="modal-body">
            
                <center>
            <h4 class="alert-sucess">¿Estás seguro de cancelar este servicio?</h4>
            <button type="button" class="btn btn-info btn-lg" data-dismiss="modal">Cancelar</button>
             <input type="button" name="{{solicitud.codigo}}" class="btn btn-danger btn-lg" id="cancelar_solicitud" value="Si, estoy seguro.">

            
            </center>
       </div>
      
    </div>
  </div>
</div>
  <script>
$('#confirmar_llegada_tecnico').click(function(){
      $.ajax({
               type: "POST",
               url: "{% url 'confirmar_llegada_tecnico' %}",
               data: {'codigo': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                      alert(response.message);
                      location.reload();
                      
                },
                error: function(rs, e) {
                       alert(rs.responseText);
                }
          }); 
    })
</script> 
 <script>
$('#confirmar_fin_servicio').click(function(){
      $.ajax({
               type: "POST",
               url: "{% url 'confirmar_fin_servicio' %}",
               data: {'codigo': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                      alert(response.message);
                      location.reload();
                      
                },
                error: function(rs, e) {
                       alert(rs.responseText);
                }
          }); 
    })
</script>
   <script>
$('#calificar_servicio').click(function(){
  var rows = [];
  var item = {};
  tecnico_id = {{solicitud.tecnico.id}};
  item["codigo"] = $(this).attr('name');
  item["tecnico_id"] = tecnico_id;
  item["calificacion"] = $('input[name=calificacion]:checked').val(); 
  item["comentario"] = $('#comentario').val();
  rows.push(JSON.stringify(item));

   arr = rows.join("/");
      $.ajax({
               type: "POST",
               url: "{% url 'calificar_servicio' %}",
               data: {req_arr : arr, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                      setTimeout(function(){
                        document.getElementById("formulario-calificacion").innerHTML = "";
                    document.getElementById("msj").innerHTML = response.message;
          }, 1000);
                      setTimeout(function(){
                    location.reload();
          }, 1500);
                      
                },
                error: function(rs, e) {
                       alert(rs.responseText);
                }
          }); 
    })
</script>
<script>
$('#confirmar_llegada_tecnico').click(function(){
      $.ajax({
               type: "POST",
               url: "{% url 'confirmar_llegada_tecnico' %}",
               data: {'codigo': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                      alert(response.message);
                      location.reload();
                      
                },
                error: function(rs, e) {
                       alert(rs.responseText);
                }
          }); 
    })
</script>  
 <script>
$('#cancelar_solicitud').click(function(){
      $.ajax({
               type: "POST",
               url: "{% url 'cancelar_servicio' %}",
               data: {'codigo': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                      alert(response.message);
                      location.reload();
                      
                },
                error: function(rs, e) {
                       alert(rs.responseText);
                }
          }); 
    })
</script>
{% endblock %}