{% extends 'app/panel.html'%}{% load widget_tweaks %}{% load staticfiles %}
{% block title-view %}Editar mi perfil | Tecnix{% endblock %}
{% block sidebar-view %}
<li class="list-group-item"><a href="{% url 'crear_solicitud' %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Solicitar servicio</a></li>
  <li class="list-group-item"><a href="{% url 'panel' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Escritorio</a></li>
  <li class="list-group-item active"><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Mi perfil</a></li>
  <li class="list-group-item"><a href="{% url 'solicitudes' %}"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp; Mis servicios</a></li>
  <li class="list-group-item"><a href="{% url 'logout_view' %}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp; Cerrar sesión</a></li>
{% endblock %}
{% block body-view %}      
  <div id="content" class="col-xs-10">
  <div class="block">
  <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Mi perfil</h1>
  <hr>
  <div id="service-details" class="row">
    <div class="col-xs-7">
      <div class="panel panel-primary">
        <div class="panel-heading">Editar datos de perfil:</div>
        <form method="POST" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
        {{form.errors}}
          <table class="table">
           <tr>
              <td>Foto de Perfil</td>
              <td>
                <div class="col-sm-5">
          <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-new thumbnail" style="width: 150px; height: 150px;" data-trigger="fileinput">{% if object.foto %}
              <img src="{{object.foto.url}}"width="150" height="150" alt="...">
            {% else %}
              <img src="http://placehold.it/150x150" alt="...">
              {% endif %}
            </div>
            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px"></div>
            <span class="btn btn-green btn-file" style="max-width: 150px; max-height: 150px">
            <span class="fileinput-exists">Cambiar</span>
              {% render_field form.foto%}
              </span>
              <a href="#" class="btn btn-orange fileinput-exists" data-dismiss="fileinput">Quitar</a>
          </div>
        </div>
                
              </td>
              </tr>
            <tr>
              <td>Nombre de usuario:</td>
              <td>
                <label>
                  {% render_field form.username class+="form-control" required=""%}
                </label>
              </td>
            </tr>
            <tr>
              <td>Nombres:</td>
              <td>
                <label>
                  {% render_field form.first_name class+="form-control" required=""%}
                </label>
              </td>
            </tr>
            <tr>
              <td>Apellidos:</td>
              <td>
                <label>
                  {% render_field form.last_name class+="form-control" required=""%}
                </label>
              </td>
            </tr>
            <tr>
              <td>E-mail:</td>
              <td>
                <label>
                  {% render_field form.email class+="form-control" required=""%}
                </label>
              </td>
            </tr>
            <tr>
              <td>Número de documento de identidad:</td>
              <td>
                <label>
                  {% render_field form.cedula class+="form-control" required=""%}
                </label>
              </td>
            </tr>
            <tr>
              <td>Fecha de nacimiento:</td>
              <td>
                <label>
                  {% render_field form.fecha_nacimiento class="form-control form-control-inline input-medium default-date-picker" required=""%}
                </label>
              </td>
            </tr>
            <tr>
              <td>Domicilio:</td>
              <td>
              <label>
                  Dirección:
                  {% render_field form.direccion class+="form-control" required=""%}
                </label>
              </td>
            </tr>
            <tr>
              <td>Teléfono:</td>
              <td>
                <label>
                  {% render_field form.telefono class+="form-control" required=""%}
                </label>
              </td>
            </tr>
            <tr>
              <td>Perfil Profesional:</td>
              <td>
                <label>
                  {% render_field form.perfil_profesional class="form-control" required=""%}
                </label>
              </td>
            </tr>

            
            
            <tr>
              <td class="text-right"><a href="{% url 'profile' %}" class="btn btn-info">Cancelar</a></td>
              <td>
                <button class="btn btn-success" type="submit">Guardar <i class="fa fa-check"></i></button>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
  <link type="text/javascript" href="{% static "blog/js/dropzone/fileinput.js"%}">
  <link type="text/javascript" href="{% static "blog/js/dropzone/dropzone.css"%} ">
  <link rel="stylesheet" href="{% static "blog/js/wysihtml5/bootstrap-wysihtml5.css" %}">
  <link rel="stylesheet" href="{% static "blog/js/codemirror/lib/codemirror.css" %}">
  <link rel="stylesheet" href="{% static "blog/js/uikit/css/uikit.min.css" %}">
  <link rel="stylesheet" href="{% static "blog/js/uikit/addons/css/markdownarea.css" %}">
  <script src="{% static "blog/js/bootstrap.js"%}"></script>
  <script type="text/javascript" src="{% static "blog/js/fileinput.js"%}"></script>
{% endblock %}
         