<!DOCTYPE html>{% load staticfiles %}{% load widget_tweaks %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Iniciar sesión | Tecnix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.png">
    <script src="{% static "app/js/jquery-3.1.0.min.js" %}" type="text/javascript"></script>
    <script src="{% static "app/js/bootstrap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "app/js/js.js" %}" type="text/javascript"></script>
    
    <link href="{% static "app/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "app/css/style.css" %}" rel="stylesheet" type="text/css">
    <script type="text/javascript">
    window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='//rec.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', 'f912ff81b2ed636fe032f5ddb50311ec534914c5');
</script>
  </head>
  <body id="lr">
    <div id="background"></div>
    <div id="container-full-lr"> 
      <!-- *** Alert ***
      <div class="alert alert-danger block">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Verifique sus datos por favor.
      </div>-->
      <div id="container-lr">
        <div class="text-center block">
          <a href="#"><img src="{% static "app/img/icon4.png" %}" alt="Tecnix, Servicio técnico de confianza en el lugar que lo necesites"></a>
        </div>
        <hr>
        <div class="block">
          <form method="POST">{% csrf_token %}
          {{form.email.errors}}
            <label for="email">
              Correo electrónico:
            </label>
            {% render_field form.email class+="form-control" placeholder="ingresa tu Correo electrónico" required="" %}
            <br>
            <label for="password">
              Contraseña:
            </label>
            {% render_field form.password class+="form-control" placeholder="ingresa tu contraseña" required="" %}
            <label class="text-right block">
              Recuérdame <input type="checkbox" name="rememberlogin">
            </label>
            <button class="form-control btn btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Iniciar sesión</button>
          
            <hr>
              <h4 class="text-center">inicia Sesión con solo un click </h4>
              <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block" style="background-color: #3B5998; color: white"><i class="fa fa-facebook"></i>Facebook</a>
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-block" style="background-color: #D34836; color: white"><i class="fa fa-google-plus"></i> Google+</a>
                      <br>
            <p class="text-center">
              <a href="{% url 'register_view' %}">Regístrate</a> &CenterDot;
              <a href="{% url 'reset_password' %}">¿Olvidaste la contraseña?</a>
            </p>
          </form>
        </div>
        <p class="text-muted text-center small">&COPY; 2016 - Tecnix. Derechos reservados</p>
      </div>
    </div>
  </body>
</html>