<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Notificación asignado técnico</title>
</head>
<body>
	<h1>Notificación Tecnix</h1>
	<h2>{{cliente}}, Se le ha asignado técnico para su solicitud {{solicitud1}}</h2>
	<p>
		Por favor, revise los datos del técnico que en las próximas horas se contactará con usted.<br>
		Ingrese al siguiente link para ver los detalles: <a href="http://tecnix.co/panel/solicitudes/servicio/{{codigo_solicitud}}/">http://tecnix.co/panel/solicitudes/servicio/{{codigo_solicitud}}/</a><br>
		Cuando el técnico llegue al lugar del servicio, debe avisar mediante el botón "Ha llegado el técnico" y cuando finalice, de click en el botón "Terminar Servicio".
	</p>
	<p>Muchas Gracias por elegirnos, <br> Cordialmente, <br> El equipo de Tecnix</p>
</body>
</html>