<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Notificación asignado técnico</title>
</head>
<body>
	<h1>Notificación Tecnix</h1>
	<h2>Hola {{tecnico}}, hay una solicitud nueva en la plataforma.</h2>
	<p>
		¡Apúrate! revisa en tu aplicación movil los datos de la solicitud.<br>
		Recuerda que debes aceptar el servicio para poder ver los detalles del cliente.
		Ingrese a tu cuenta en la aplicación para ver el servicio activo antes de que otro técnico lo tome.<br>
		

		
	</p>
	<p>Muchas Gracias por trabajar con nosotros, <br> Cordialmente, <br> El equipo de Tecnix</p>
</body>
</html>