<!DOCTYPE html>{% load staticfiles %}
<html lang="es">
  <head> 
    <meta charset="UTF-8">
    <title>{% block title-view %}Escritorio | Tecnix{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static "app/img/favicon.png"%}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <script src="{% static "app/js/jquery-3.1.0.min.js" %}" type="text/javascript"></script>
    <script src="{% static "smart-selects/admin/js/chainedfk.js" %}"></script>
    <script src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script src="{% static "app/js/bootstrap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "app/js/js.js" %}" type="text/javascript"></script>
    <script src="{% static "app/js/cargando.js" %}" type="text/javascript"></script>
    <link href="{% static "app/css/cargando.css" %}" rel="stylesheet" type="text/css">
    
    <link href="{% static "app/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static "app/css/datepicker.css" %}" />


    {% include "blog/parts/header.html" %}
   
    <link rel="stylesheet" href="{% static "home/css/font-awesome.min.css" %}">
    <link href="{% static "app/css/style.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "app/js/jquery.min.js"%}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript">
    window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='//rec.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', 'f912ff81b2ed636fe032f5ddb50311ec534914c5');
</script>
  </head>
  <body id="panel">
  <div class="opaque"></div>
    <div id="container" class="container-fluid">
      <div class="row">
        <aside class="col-xs-2">
          <div class="row panel-header">
            <div class="col-xs-5">
              <a class="logo" href="user-panel-dashboard.html"><img src="{% static "app/img/logo-white.png" %}" alt="Tecnix - Panel de usuario"></a>
            </div>
            <div class="col-xs-7 small">
              Servicio técnico de confianza,<br>
              Donde lo necesites!
            </div>
          </div>
          <hr>
          <ul class="list-group">
          {% block sidebar-view %}
            <li class="list-group-item"><a href="{% url 'crear_solicitud' %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Solicitar servicio</a></li>
            <li class="list-group-item active"><a href="{% url 'panel' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Escritorio</a></li>
            <li class="list-group-item"><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Mi perfil</a></li>
            <li class="list-group-item"><a href="{% url 'solicitudes' %}"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp; Mis servicios</a></li>
            <li class="list-group-item"><a href="{% url 'logout_view' %}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp; Cerrar sesión</a></li>
            {% endblock %}
            {% if request.user.is_staff %}
            <li>
              <a href="{% url 'ver_posts' %}">
                    <span>Gestión de Publicaciones</span>
              </a>
            </li>
            <li>
              <a href="{% url 'gestion_categorias' %}">
                <span>Gestión de Categorías</span>
              </a>
            </li>
           
         
            {% endif %}
          </ul>
        </aside>
        <a class="text-center toggle-menu" href="#"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>&nbsp; Menú</a>
        <div id="content" class="col-xs-10">
          <div class="block">
            {% block body-view %}
            <h1><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Hola {{user.first_name}}, Bienvenido a tu Escritorio</h1>
            <hr>
            <!--<div class="alert alert-warning block">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              Estamos en mantenimiento del sitio, durará aproximadamente 1 hora, gracias por tu comprensión.
            </div>-->
            {% if user.cliente %}
            <div class="row">
              <div class="col-xs-6">
                <div class="panel panel-default">
                  <div class="panel-heading"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp; Servicios recientes</div>
                  <!--<div class="panel-body">
                    <p class="text-muted">No hay servicios recientes</p>
                  </div>-->
                  <table class="table table-hover">
                    <thead>
                      <th class="col-xs-8">Equipo</th>
                      <th class="col-xs-2">Estado</th>
                      <th></th>
                    </thead>
                    <tbody>
                    {% for solicitud in servicios %}
                      <tr>
                        <td>{{solicitud.tipo_dispositivo}}</td>
                        <td>
                          {% if solicitud.estado == 'Nueva' %}
                            <span class="label label-success label-mini pull-right">Nueva</span>
                            {% endif %} 
                            {% if solicitud.estado == 'En Espera' %}
                              <span class="label label-info label-mini pull-right">Espera</span>
                            {% endif %} 
                            {% if solicitud.estado == 'Tecnico Asignado' %}
                            <span class="label label-info label-mini pull-right">Técnico Asig.</span>
                            {% endif %} 
                            {% if solicitud.estado == 'Solicitud Cerrada' %}
                              <span class="label label-default label-mini pull-right">Cerrada</span>
                          {% endif %}
                        </td>
                        <td>
                          <a href="/panel/solicitudes/servicio/{{solicitud.codigo}}/"><button class="btn btn-success btn-xs"><i class="fa fa-search"></i> Ver detalles</button></a>
                        </td>
                      </tr>
                     {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-xs-6">
                <h4 class="section-title"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>&nbsp; Accesos rápidos</h4>
                <div class="row">
                  
                  {% for solicitud in servicios %}
                    {% if forloop.first %}
                    <div class="col-xs-4">
                    <a href="/panel/solicitudes/servicio/{{solicitud.codigo}}/" class="large-button-blue">
                      <span class="glyphicon glyphicon-time" aria-hidden="true"></span><br>
                      Último servicio
                    </a>
                    </div>
                    {% endif %}
                  {% endfor %}
                  
                  <div class="col-xs-4">
                    <a href="{% url 'profile' %}" class="large-button-orange">
                      <span class="glyphicon glyphicon-user" aria-hidden="true"></span><br>
                      Mi perfil
                    </a>
                  </div>
                  <div class="col-xs-4">
                    <a href="{% url 'crear_solicitud' %}" class="large-button-green">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><br>
                      Solicitar servicio
                    </a>
                  </div>
                </div>
              </div>
            </div>
            {% elif user.tecnico %}
            <div class="row">
              <div class="col-xs-12">
                <div class="panel panel-default">
                  <div class="panel-heading"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp; Nuevos servicios disponibles</div>
                  <!--<div class="panel-body">
                    <p class="text-muted">No hay servicios disponibles</p>
                  </div>-->
                  <table class="table table-hover">
                    <thead>
                      <th>Fecha</th>
                      <th>Barrio</th>
                      <th>Tipo de servicio</th>
                      <th>Valor</th>
                      <th>Opciones</th>
                    </thead>
                    <tbody>
                    {% for solicitud in solicitudes %}
                    <tr>
                        <td>{{solicitud.fecha_solicitado}}</td>
                        <td>{{solicitud.direccion}}</td>
                        <td>{{solicitud.paquete}}/{{solicitud.servicio.nombre}}</td>
                        <td>{{solicitud.total}}</td>
                        <td><input type="button" value="tomar servicio" name="{{solicitud.codigo}}" id="tomar_servicio" class="btn btn-success"></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            {% endif %}
            <hr>
          <div class="block hidden-xs hidden-sm">
              <h4><span class="glyphicon glyphicon-fire" aria-hidden="true"></span>&nbsp; Actualidad informática</h4>
              <div class="row block">
                {% for noticia in noticias %}
                <div class="col-sm-6 col-md-3">
                  
                  <a href="/blog/post/{{ noticia.slug }}" target="_blank"><img class="img img-responsive block" style="width:300px;height:100px;" src="{{noticia.imagen.url}}" alt="">
                  <h2 class="section-title"><a href="/blog/post/{{ noticia.slug }}" target="_blank">{{noticia.titulo}}</a></h2></a>
                 
                </div>
                {% endfor %}
              </div>
            </div>
            {% endblock %}
          </div>

          <hr>
          <footer class="text-right text-muted">
            &COPY; 2016 Tecnix.com. Derechos reservados
          </footer>
        </div>
      </div>
    </div>
   {% include "blog/parts/scripts.html" %}
     
    <script src="{% static "app/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "app/js/dataTables.bootstrap.min.js" %}"></script>
    
    <script src="{% static "app/js/datepicker.js" %}"></script>
    <script src="{% static "app/js/advanced-form-components.js" %}"></script>  
   
    
    {% if request.user.tecnico %}
      
    
    <script>
      $('#tomar_servicio').click(function(){
        var rows = [];
        var item = {};
        item["codigo"] = $(this).attr('name');
        item["tecnico_id"] = {{user.tecnico.id}}; 
        rows.push(JSON.stringify(item));

         arr = rows.join("/");
            $.ajax({
                     type: "POST",
                     url: "{% url 'tomar_servicio' %}",
                     data: {req_arr : arr, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                     dataType: "json",
                     success: function(response) {
                            alert(response.message);
                            location.reload();
                            
                      },
                      error: function(rs, e) {
                             alert(rs.responseText);
                      }
                }); 
          })
      </script>  
      {% endif %}


  </body>
</html>