{% extends 'app/panel.html'%}{% load widget_tweaks %}{% load staticfiles %}
{% block title-view %}Mi perfil | Tecnix{% endblock %}
{% block sidebar-view %}
  <li class="list-group-item"><a href="{% url 'crear_solicitud' %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Solicitar servicio</a></li>
  <li class="list-group-item"><a href="{% url 'panel' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Escritorio</a></li>
  <li class="list-group-item active"><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Mi perfil</a></li>
  <li class="list-group-item"><a href="{% url 'solicitudes' %}"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp; Mis servicios</a></li>
  <li class="list-group-item"><a href="{% url 'logout_view' %}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp; Cerrar sesión</a></li>
{% endblock %}
{% block body-view %}
  <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Mi perfil</h1>
  <hr>
  <div id="service-details" class="row">
    <div class="col-xs-7">
      <div class="panel panel-primary">
        <div class="panel-heading">Información personal:</div>
        <table class="table">
          <tr>
          <td><i class="fa fa-picture-o"></i> Foto de Perfil:</td>
          <td>
              {% if request.user.cliente%}
              {% if request.user.cliente.foto %}
              <img src="{{request.user.cliente.foto.url}}" width="100px" class="img img-responsive img-rounded" alt="Foto usuario">
              {% elif not request.user.cliente.foto %}
              <img src="http://placehold.it/120x120" alt="NO tienes foto de perfil">
              {% endif %}
              {% endif %}
              {% if request.user.tecnico %}
              {% if request.user.tecnico.foto %}
              <img src="{{request.user.tecnico.foto.url}}" width="100px" class="img img-responsive img-rounded" alt="Foto tecnico">
              {% elif not request.user.tecnico.foto %}
              <img src="http://placehold.it/120x120" alt="NO tienes foto de perfil">
              {% endif %}
              {% endif %}
           
          </td>
            
              
          </tr>
          <tr>
            <td><i class="fa fa-user"></i> Nombre:</td>
            <td>{{request.user.first_name}} {{request.user.last_name}}</td>
          </tr>
          <tr>
            <td><i class="fa fa-at"></i> E-mail:</td>
            <td>{{request.user.email}}</td>
          </tr>
          <tr>
            <td><i class="fa fa-birthday-cake"></i> Fecha de nacimiento:</td>
            <td>
              {% if request.user.cliente %}
                {% if request.user.cliente.fecha_nacimiento  %}
                  {{request.user.cliente.fecha_nacimiento}}
                  {% else %}
                  No ha registrado su fecha de nacimiento
                {% endif %}
              {% else %}
                {% if request.user.tecnico.fecha_nacimiento  %}
                  {{request.user.tecnico.fecha_nacimiento}}
                  {% else %}
                  No ha registrado su fecha de nacimiento
                {% endif %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <td><i class="fa fa-home"></i> Domicilio:</td>
            <td>
              {% if request.user.cliente %}
                {% if request.user.cliente.direccion  %}
                  {{request.user.cliente.direccion}}, <br>
                  {{request.user.cliente.referencia_dir}}
                  {% else %}
                  No ha registrado su dirección completa
                {% endif %}
              {% else %}
                {% if request.user.tecnico.direccion  %}
                  {{request.user.tecnico.direccion}}
                  {% else %}
                  No ha registrado su dirección completa
                {% endif %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <td><i class="fa fa-phone"></i> Teléfono:</td>
            <td>
              {% if request.user.cliente %}
                {% if request.user.cliente.telefono1  %}
                  {{request.user.cliente.telefono1}}
                  {% else %}
                  No ha registrado su número de contacto
                {% endif %}
              {% else %}
                {% if request.user.tecnico.telefono%}
                  {{request.user.tecnico.telefono}}
                  {% else %}
                  No ha registrado su número de contacto
                {% endif %}
              {% endif %}
            </td>
          </tr>
          {% if request.user.tecnico %}
          <tr>
            <td>Perfil Profesional:</td>
            <td>{% if request.user.tecnico.perfil_profesional%}
                  {{request.user.tecnico.perfil_profesional}}
                  {% else %}
                  No ha registrado su perfil profesional
                {% endif %}</td>
          </tr>            
          {% endif %}
          {% if request.user.cliente %}
          <tr>
            <td><i class="fa fa-star"></i> Puntos acumulados:</td>
            <td><b>{{request.user.puntos}}</b></td>
          </tr>
          {% else %}
          <tr>
            <td><i class="fa fa-star"></i> Nivel {{user.tecnico.nivel}}  </td>
            <td><b>{{user.tecnico.exp}}% de Experiencia hacia el proximo nivel</b>
              <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{user.tecnico.exp}}" aria-valuemin="0" aria-valuemax="100" style="width: {{user.tecnico.exp}}%"></div>

              </div>
              <em>cuando tu experiencia llegue a 100%, pasas al siguiente nivel.</em>
            </td>
          </tr>
          
          {% endif %}
          
          <tr class="text-right">
            <td></td>
            <td>
            {% if request.user.cliente %}
                <a class="btn btn-success btn-sm" href="{% url 'edit_perfil_cliente' %}">Editar perfil <i class="fa fa-pencil"></i></a>
              {% else %}
                <a class="btn btn-success btn-sm" href="{% url 'edit_perfil_tecnico' %}">Editar perfil <i class="fa fa-pencil"></i></a>
              {% endif %}
              
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
{% endblock %}