<!DOCTYPE html>{% load staticfiles %}{% load widget_tweaks %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Registro de Usuario | Tecnix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.png">
    <script src="{% static "app/js/jquery-3.1.0.min.js" %}" type="text/javascript"></script>
    <script src="{% static "app/js/bootstrap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "app/js/js.js" %}" type="text/javascript"></script>
    <link href="{% static "app/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "app/css/style.css" %}" rel="stylesheet" type="text/css">
  </head>
  <body id="lr" class="register">
    <div id="background"></div>
    <div id="container-full-lr">
      <div id="alert"></div> 

      <div id="container-lr">
        <div class="text-center block">
          <a href="#"><img src="{% static "app/img/icon4.png"%} " alt="Tecnix, Servicio técnico de confianza en el lugar que lo necesites"></a>
        </div>
        <hr>
        <div class="block">
          <div class="block">
            <ul class="nav nav-pills nav-justified" role="tablist">
              <li role="tab" class="active"><a href="#form-user" aria-controls="form-user" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Soy Usuario</a></li>
              <li role="tab"><a href="#form-tecnician" aria-controls="form-tecnician" data-toggle="tab"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Soy Técnico</a></li>
            </ul>
          </div>
          <div class="tab-content">
            <div id="form-user" role="tabpanel" class="tab-pane fade in active">
               <form id="register_form" method="POST">
                <div class="col-xs-6 block">
                  <h4>Datos personales</h4>
                   <label for="username">
                    Usuario:
                  </label>
                   <input id="username" class="form-control" type="text" name="username" placeholder="Ingrese un nombre de usuario" required="">
                  <br>
                  <label for="first_name">
                    Nombre:
                  </label>
                  <input id="first_name" class="form-control" type="text" name="first_name" placeholder="Ingrese su nombre" required="">
                  <br>
                  <label for="lastname">
                    Apellido:
                  </label>
                  <input id="last_name" class="form-control" type="text" placeholder="Ingrese su nombre" required="">
                </div>
                <div class="col-xs-6">
                  <h4>Datos de cuenta</h4>
                  <label for="email">
                    Correo electrónico:
                  </label>
                 <input id="email" class="form-control" type="email"  placeholder="Ingrese su correo electrónico" required="">
                  <br>
                  <label for="password">
                    Contraseña:
                  </label>
                  <input id="password1" class="form-control" type="password"  placeholder="Ingrese una Contraseña" required="">
                
                  <br>
                  <label for="password2">
                    Repita la contraseña:
                  </label>
                  <br>
                  <input id="password2" class="form-control" type="password" name="password2" placeholder="Repita la contraseña" required="">
                  <br>

                </div>
                <div id="alert"></div> 
                <button id="registro-cliente-btn" class="form-control btn btn-success btn-block" type="submit"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Registrarse</button>
              </form>
              <br>
              <hr>
              <h4 class="text-center">Regístrate con solo un click </h4>
              <a id="facebook" class="btn btn-block" style="background-color: #3B5998; color: white"><i class="fa fa-facebook"></i>Facebook</a>
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-block" style="background-color: #D34836; color: white"><i class="fa fa-google-plus"></i> Google+</a>
            </div>
            <div id="form-tecnician" role="tabpanel" class="tab-pane fade">
              <form id="register_tec_form" method="POST">
                <div class="col-xs-6 block">
                  <h4>Datos personales</h4>
                   <label for="username">
                    Usuario:
                  </label>
                   <input id="tec_username" class="form-control" type="text" name="tec_username" placeholder="Ingrese un nombre de usuario" required="">
                  <br>
                  <label for="tec_first_name">
                    Nombre:
                  </label>
                  <input id="tec_first_name" class="form-control" type="text" name="tec_first_name" placeholder="Nombre">
                  <br>
                  <label for="tec_last_name">
                    Apellido:
                  </label>
                  <input id="tec_last_name" class="form-control" type="text" name="tec_last_name" placeholder="Apellido">
                  <br>
                  <label>
                    Número de identificación:
                  </label>
                  <input id="tec_cedula" class="form-control" type="text" name="tec_cedula" placeholder="Ingrese un número de identificación" required="">
                  <br>
                  <label for="tec_direccion">
                    Dirección:
                  </label>
                  <input id="tec_direccion" class="form-control" type="text" name="tec_direccion" placeholder="Dirección de domicilio">
                  <br>
                  <label for="tec_telefono">
                    Teléfono/Celular:
                  </label>
                  <input id="tec_telefono" class="form-control" type="text" name="tec_telefono" placeholder="Número de teléfono/Celular">
                </div>
                <div class="col-xs-6">
                  <h4>Datos de cuenta</h4>
                  <label for="tec_email">
                    Correo electrónico:
                  </label>
                  <input id="tec_email" class="form-control" type="text" name="tec_email" placeholder="Correo electrónico">
                  <br>
                  <label for="password">
                    Contraseña:
                  </label>
                  <input id="tec_password1" class="form-control" type="password" name="tec_password1" placeholder="Contraseña">
                  <br>
                  <label for="tec_password2">
                    Repite la contraseña:
                  </label>
                  <input id="tec_password2" class="form-control" type="password" name="tec_password2" placeholder="Contraseña">
          
                
                </div>
                <br>
                <div id="alert"></div> 
                <br>
                <button id="registro-tecnico-btn" class="form-control btn btn-success btn-block" type="submit"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Registrarse</button>
              </form>
            </div>
            <br>
            <p class="text-center">
              <a href="{% url 'login_view' %}">Iniciar Sesión</a> &CenterDot;
              <a href="{% url 'reset_password' %}">¿Olvidaste la contraseña?</a>
            </p>
          </div>
        </div>
        <p class="text-muted text-center small">&COPY; 2016 - Tecnix. Derechos reservados</p>
      </div>
    </div>
    <!--modal inicio de sesión-->
    <!-- Small modal -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">

      <div class="modal-dialog modal-sm">
        <div class="modal-content text-center">
             
             <div class="modal-header">
                
                <h4 class="modal-title letter2">¡Registro Exitoso!</h4>
              </div>

              <div class="modal-body">

                    <img src="{% static "app/img/success.gif" %}" alt="Registro exitoso">
                    <p id="alert-modal"></p>
                    

              </div>

        </div>
      </div>

    </div>
    <!--modal Notificaciones-->
    <!-- Small modal -->


    <script>
      $('#register_form').submit(function(e){
        e.preventDefault();
        
        var html="";
        var username = document.getElementById('username').value;
        var email = document.getElementById('email').value;
        var first_name = document.getElementById('first_name').value;
        var last_name = document.getElementById('last_name').value;
        var password1 = document.getElementById('password1').value;
        var password2 = document.getElementById('password2').value;
        if (password1 != password2) {
          html +='<div class="alert alert-danger block"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Sus contraseñas no son iguales! verfifique e intente de nuevo.</div>';
          $('#alert').html(html);
        }else{
          $.ajax({
            type: "POST",
            url: "{% url 'register_user_api' %}",
            data: {"username":username,
              "email":email,
            "first_name": first_name,
            "last_name": last_name,
            "password": password1,
            "csrfmiddlewaretoken": "{{ csrf_token }}"},
            dataType: "json",
            success: function(response) {
              setTimeout(function(){
                html +='Gracias por registrarte! Ahora podrás disfrutar de un servicio técnico de confianza! :) <br> <a href="{% url 'login_view' %}">Iniciar Sesión</a>';
                document.getElementById("register_form").reset();
                $('#alert-modal').html(html);
                $('#myModal').modal({
                  backdrop: 'static',
                  keyboard: false
                })
                $('#myModal').modal('show');
              }, 500);
            },
            error: function(rs) {
              var html2="";
              var error = JSON.parse( rs.responseText );
              for( var name in error ) {
                if(name =="username"){
                  html2+=''+"Usuario"+': '+error[ name ]+'<br>';
                }
                if(name =="password"){
                  html2+=''+"Contraseña"+': '+error[ name ]+'<br>';
                }else{
                  html2+=''+name+': '+error[ name ]+'<br>';
                }
              }
              html +='<div class="alert alert-danger block"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Verifique: <br> '+html2+'<br></div>';
              $('#alert').html(html);
            }
          });
        }
      });
    </script>
    <script>
      $('#register_tec_form').submit(function(e){
        e.preventDefault();
        
        var html="";
        var username = document.getElementById('tec_username').value;
        var email = document.getElementById('tec_email').value;
        var first_name = document.getElementById('tec_first_name').value;
        var last_name = document.getElementById('tec_last_name').value;
        var password1 = document.getElementById('tec_password1').value;
        var password2 = document.getElementById('tec_password2').value;
        var cedula = document.getElementById('tec_cedula').value;
        var direccion = document.getElementById('tec_direccion').value;
        var telefono = document.getElementById('tec_telefono').value;
        if (password1 != password2) {
          html +='<div class="alert alert-danger block"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Sus contraseñas no son iguales! verfifique e intente de nuevo.</div>';
          $('#alert').html(html);
        }else{
          $.ajax({
            type: "POST",
            url: "{% url 'register_tec_api' %}",
            data: {"email":email,
            "first_name": first_name,
            "last_name": last_name,
            "password": password1,
            "cedula":cedula,
            "direccion": direccion,
            "telefono": telefono,
            "username": username,
            "csrfmiddlewaretoken": "{{ csrf_token }}"},
            dataType: "json",
            success: function(response) { 
              setTimeout(function(){
                html +='Gracias por registrarte! Ahora debes revisar tu email para completar tu ingreso a Tecnix! :)<br> <a href="{% url 'login_view' %}">Iniciar Sesión</a>';
                document.getElementById("register_tec_form").reset();
                $('#alert-modal').html(html);
                $('#myModal').modal({
                  backdrop: 'static',
                  keyboard: false
                })
                $('#myModal').modal('show');
              }, 500);
            },
            error: function(rs) {
              var html2="";
              var error = JSON.parse( rs.responseText );
              for( var name in error ) {
                if(name =="username"){
                  html2+=''+"Usuario"+': '+error[ name ]+'<br>';
                }
                if(name =="password"){
                  html2+=''+"Contraseña"+': '+error[ name ]+'<br>';
                }else{
                  html2+=''+name+': '+error[ name ]+'<br>';
                }
              }
              html +='<div class="alert alert-danger block"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Verifique: <br> '+html2+'<br></div>';
              $('#alert').html(html);
            }
          });
        }
      });
    </script>
    <script>
$('#facebook').click(function(){
  var html = ""
  html +='Gracias por registrarte! Ahora podrás disfrutar de un servicio técnico de confianza! :)';
                $('#alert-modal').html(html);
                $('#myModal').modal({
                  backdrop: 'static',
                  keyboard: false
                })
                $('#myModal').modal('show');
  setTimeout(function(){
                
                window.location = "{% url 'social:begin' 'facebook' %}";
              }, 500);

    })
</script>


  </body>
</html>