{% extends 'app/panel.html'%}{% load widget_tweaks %}{% load staticfiles %}
{% block title-view %}Solicitar Servicio | Tecnix{% endblock %}
{% block sidebar-view %}
  <li class="list-group-item"><a href="{% url 'crear_solicitud' %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Solicitar servicio</a></li>
  <li class="list-group-item"><a href="{% url 'panel' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Escritorio</a></li>
  <li class="list-group-item"><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Mi perfil</a></li>
  <li class="list-group-item active"><a href="{% url 'solicitudes' %}"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp; Mis servicios</a></li>
  <li class="list-group-item"><a href="{% url 'logout_view' %}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp; Cerrar sesión</a></li>
{% endblock %}
{% block body-view %}

  <h1><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Solicitar servicio</h1>
  <p>Por favor rellene el siguiente formulario y revise los detalles cuidadosamente antes de solicitar el servicio.</p>
  <hr>
  {% if form.errors %}
    <div class="alert alert-warning block">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{form.errors}}
  </div>
  {% endif %}
  
  <form class="row" method="POST">{% csrf_token %}
    <div class="col-xs-6">
      <h3 class="section-title">Datos de domicilio:</h3>
      <div class="row block">
        <label for="town" class="col-xs-6">
          Barrio:
          {% render_field form.direccion class+="form-control" placeholder="Ej: Los Ejecutivos" required=""%}
        </label>
        <label for="address" class="col-xs-6">
          Dirección Completa:
          {% render_field form.direccion_completa class+="form-control" placeholder="Ej: Carrera 1 #12-B" required=""%}
        </label>
        <label for="address" class="col-xs-6">
          Teléfono/Cel de contácto rápido:
          {% render_field form.telefono class+="form-control" placeholder="Ej: 3001234567" required=""%}
        </label>
      </div>
      
      <hr>
      <h3 class="section-title">Detalles del servicio:</h3>
      <label class="block">Tipo de equipo:</label>
      <label class="img-input">
        <input type="radio" name="device_type" value="desktop" checked="">
        <img src="{% static "app/img/desktop.png"%}">
        <p class="text-center">Escritorio</p>
      </label>
      <label class="img-input">
        <input type="radio" name="device_type" value="portatil">
        <img src="{% static "app/img/portable.png"%}">
        <p class="text-center">Portátil</p>
      </label>
      <br>
      <label for="num_equipos">
        Número de equipos:
        {% render_field form.num_equipos class+="form-control" id="num_equipo"required=""%}
      </label>
      <br>
      <label class="block">
        Tipo de servicio:
        {% render_field form.paquete class+="form-control" required=""%}
      </label>
      <br>
      <label class="block">
        servicio:
        {% render_field form.servicio class+="form-control" id="dropdown_selector"required=""%}
      </label>
      
      <label for="observations">
        Describa su solicitud:
        {% render_field form.observaciones class+="form-control" required=""%}
    </div>
    <div class="col-xs-3">
      <strong>Detalles de costo base:</strong><br><br>
      <table id="price-details" class="table table-condensed">
        
        <tr class="row">
          <td class="col-xs-6">Domicilio:</td>
          <td class="col-xs-6 text-right">$20000</td>
        </tr>
      </table>
      <h3 class="text-green text-right"><span id ="total">$0</span> COP</h3>
      <br>
      <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp; Solicitar servicio</button>
      <hr>
      <p class="text-muted small">Recuerde que al solicitar el servicio acepta los <a href="#">Términos del servicio</a></p>
    </div>
  </form>

<script>
  $(document).ready( function ()
{
  var html ="";
  $('#dropdown_selector').change(function()
  {
    
    var option = $(this).find('option:selected').val();
    $.ajax({
               type: "POST",
               url: "{% url 'valor_servicio' %}",
               data: {'option': option, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                      var precio = parseInt(response.message);
                      var num_equipos = $('#num_equipo').val();
                      var total = (precio * num_equipos) + 20000;
                      html +=total;
                      $('#total').html("$"+total);
                      
                },
                error: function(rs, e) {
                       
                }
          }); 
    
  });
  
});
</script>
<script>
$(document).ready( function ()
{
  var html ="";
  $('#num_equipo').change(function()
  {
    
    var option = $('#dropdown_selector').find('option:selected').val();
    $.ajax({
               type: "POST",
               url: "{% url 'valor_servicio' %}",
               data: {'option': option, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                      var precio = parseInt(response.message);

                      var num_equipos = $('#num_equipo').val();
                      var total = (precio * num_equipos) + 20000;
                      html =html+""+total;
                      $('#total').html("$"+total);
                      
                      
                },
                error: function(rs, e) {
                }
          }); 
    
  });
});
</script>
{% endblock %}