{% extends 'app/panel.html'%}{% load widget_tweaks %}{% load staticfiles %}
{% block title-view %}Historial de servicios | Tecnix{% endblock %}
{% block sidebar-view %}
  <li class="list-group-item"><a href="{% url 'crear_solicitud' %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Solicitar servicio</a></li>
  <li class="list-group-item"><a href="{% url 'panel' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Escritorio</a></li>
  <li class="list-group-item"><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Mi perfil</a></li>
  <li class="list-group-item active"><a href="{% url 'solicitudes' %}"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp; Mis servicios</a></li>
  <li class="list-group-item"><a href="{% url 'logout_view' %}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp; Cerrar sesión</a></li>
{% endblock %}
{% block body-view %}      
  <h1><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp; Mis servicios</h1>
  <p>En esta sección puede ver todos los servicios que ha pedido. Haga click en <strong>Ver detalles</strong> del servicio que desee para ver toda la información relacionada.</p>
  <hr>
  <!--<div class="alert alert-warning block">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Estamos en mantenimiento del sitio, durará aproximadamente 1 hora, gracias por tu comprensión.
  </div>-->
  <table id="example1" class="table table-bordered table-striped hidden-md hidden-lg">
    <thead>
      <th class="col-xs-2 sorting_desc">Fecha</th>
      <th class="col-xs-5">Equipo</th>
      <th class="col-xs-2">Estado</th>
      <th>Opciones</th>
    </thead>
    <tbody>
    {% for solicitud in list %}
      <tr>
        <td>{{solicitud.fecha_solicitado}}</td>
        <td>Equipo: <strong>{{solicitud.tipo_dispositivo}}</strong></td>
        <td>
          {% if solicitud.estado == 'Nueva' %}
          <span class="label label-success label-mini pull-right">Nueva</span>
          {% endif %} 
          {% if solicitud.estado == 'En Espera' %}
            <span class="label label-info label-mini pull-right">Espera</span>
          {% endif %} 
          {% if solicitud.estado == 'Tecnico Asignado' %}
          <span class="label label-info label-mini pull-right">Técnico Asig</span>
          {% endif %} 
          {% if solicitud.estado == 'Solicitud Cerrada' %}
            <span class="label label-default label-mini pull-right">Cerrada</span>
          {% endif %}
        </td>
        <td><a href="/panel/solicitudes/servicio/{{solicitud.codigo}}/"><button class="btn btn-success"><i class="fa fa-search"></i> Ver</button></a></td>
      </tr>
    {% endfor %}
      
    </tbody>
    
  </table>
   <table id="example1" class="table table-bordered table-striped hidden-xs hidden-sm">
    <thead>
      <th class="col-xs-2 sorting_desc">Código Ref.</th>
      <th class="col-xs-2">Fecha</th>
      <th class="col-xs-5">Equipo</th>
      <th class="col-xs-2">Valor</th>
      <th class="col-xs-2">Estado</th>
      <th></th>
    </thead>
    <tbody>
    {% for solicitud in list %}
      <tr>
        <td>{{solicitud.codigo}}</td>
        <td>{{solicitud.fecha_solicitado}}</td>
        <td>Equipo: <strong>{{solicitud.tipo_dispositivo}}</strong></td>
        <td>{{solicitud.total}}</td>
        <td>
          {% if solicitud.estado == 'Nueva' %}
          <span class="label label-success label-mini pull-right">Nueva</span>
          {% endif %} 
          {% if solicitud.estado == 'En Espera' %}
            <span class="label label-info label-mini pull-right">En Espera</span>
          {% endif %} 
          {% if solicitud.estado == 'Tecnico Asignado' %}
          <span class="label label-info label-mini pull-right">Técnico Asignado</span>
          {% endif %} 
          {% if solicitud.estado == 'Solicitud Cerrada' %}
            <span class="label label-default label-mini pull-right">Solicitud Cerrada</span>
          {% endif %}
        </td>
        <td><a href="/panel/solicitudes/servicio/{{solicitud.codigo}}/"><button class="btn btn-success"><i class="fa fa-search"></i> Ver detalles</button></a></td>
      </tr>
    {% endfor %}
      
    </tbody>
    
  </table>
 
<script src="{% static "app/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "app/datatables/dataTables.bootstrap.min.js" %}"></script>
<script>
      $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
    </script>
{% endblock %}          