<!DOCTYPE html>{% load staticfiles %}{% load widget_tweaks %}
<!--[if lt IE 7]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<html lang="es"><!--<![endif]-->

<head>
    
    <!-- Your Basic Site Informations -->
    <title>Soporte Técnico confiable para equipos de cómputo | Tecnix Colombia</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Servicio técnico confiable para computadores de escritorio y portátiles en el lugar donde lo necesites" />
    <meta name="keywords" content="Computadores, Computadoras, Técnico, Arreglo, Mantenimiento, Cartagena, Colombia, Asistencia Remota, Tutoriales, Solución Virus, Software, Hardware" />
    <meta name="author" content="JuanSarmiento" />
    
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,300,600,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static "home/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "home/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "home/css/slick.css" %}">
    <link rel="stylesheet" href="{% static "home/css/slick-theme.css" %}">
    <link rel="stylesheet" href="{% static "home/css/jquery.fancybox.css" %}">
    <link rel="stylesheet" href="{% static "home/css/style.css" %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <!-- Custom Colors -->
    <!--<link rel="stylesheet" href="css/colors/blue/color.css">--> 
    <!--<link rel="stylesheet" href="css/colors/green/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/pink/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/purple/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/yellow/color.css">-->
    
    <!--[if lt IE 9]>
    	<script src="js/html5.js"></script>
        <script src="js/respond.min.js"></script>
	<![endif]-->
    
    <!--[if lt IE 8]>
    	<link rel="stylesheet" href="css/ie-older.css">
    <![endif]-->
    
    <noscript><link rel="stylesheet" href="{% static "home/css/no-js.css"%}"></noscript>
    
    <!-- Favicons -->
	<link rel="shortcut icon" href="{% static "home/images/favicon.ico"%}">
	<link rel="apple-touch-icon" href="{% static "home/images/apple-touch-icon.png"%}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static "home/images/apple-touch-icon-72x72.png"%}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static "home/images/apple-touch-icon-114x114.png"%}">
    <script type="text/javascript">
    window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='//rec.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', 'f912ff81b2ed636fe032f5ddb50311ec534914c5');
</script>
</head>
<body>
    
    <!-- #header -->
    <header id="header" data-parallax="scroll" data-speed="0.2" data-natural-width="1920" data-natural-height="1080" data-image-src="{% static "home/images/content/bg/fondo.jpg"%}">
        
        <!-- #navigation -->
        <nav id="navigation" class="navbar scrollspy">
            
            <!-- .container -->
            <div class="container">
                
                <div class="navbar-brand">
                	<a href=""><img src="{% static "home/images/logo_tecnix_ white.svg"%}" alt="Logo" /></a> <!-- site logo -->
                </div>
                
                <ul class="nav navbar-nav">
                	<li><a href="#header" class="smooth-scroll">Inicio</a></li>
                    <li><a href="#acerca" class="smooth-scroll">Acerca</a></li>
                    <li><a href="#beneficios" class="smooth-scroll">Beneficios</a></li>
                    <li><a href="#equipo" class="smooth-scroll">Equipo</a></li>
                    <li><a href="#preguntas" class="smooth-scroll">Preguntas Frecuentes</a></li>
                    <li><a href="#aliados" class="smooth-scroll">Aliados</a></li>
                    <li class="menu-btn"><a href="#" data-toggle="modal" data-target="#myModal">Servicio Rápido</a></li>
                </ul>
                
            </div>
            <!-- .container end -->
            
        </nav>
        <!-- #navigation end -->
        
        <!-- .header-content -->
        <div class="header-content header-overlay40">
            
            <!-- .container -->
            <div class="container">
                
                <div class="header-content-title">
                    <h1>Soporte Técnico confiable<br>en el lugar que lo necesites.</h1>
                    <p>Soluciona los inconvenientes con tu computador de escritorio o portátil<br>de forma oportuna y segura.</p>
                </div>
                
                <div class="btn-section">
                	<a href="{% url 'login_view' %}" class="btn-custom btn-icon"><i class="fa fa-check"></i> Solicitar Servicio</a>
                    <a href="{% url 'home_blog' %}" class="btn-custom btn-icon" target="_blan"><i class="fa fa-search"></i> Ingresar al blog</a>

                </div>


                
            </div>
            <!-- .container end -->
            
            <!-- .header-content-overlay -->
            <div class="header-content-overlay">
            	
                <!-- .container -->
                <div class="container">
                	
                    <!-- .row -->
                    <div class="row">
                    	
                        <div class="col-sm-3 col-md-2 col-md-offset-1"> <!-- 1 -->
                        	<div class="header-content-feature">
                            	<i class="fa fa-commenting"></i>
                                <p>Asistencia Remota</p>
                            </div>
                        </div>
                        
                        <div class="col-sm-3 col-md-2 col-md-offset-2"> <!-- 2 -->
                        	<div class="header-content-feature">
                            	<i class="fa fa-home"></i>
                                <p>Soporte a domicilio</p>
                            </div>
                        </div>
                        
                        <div class="col-sm-3 col-md-2 col-md-offset-2"> <!-- 3 -->
                        	<div class="header-content-feature">
                            	<i class="fa fa-play-circle"></i>
                                <p>Hazlo tú mismo</p>
                            </div>
                        </div> 
                                              
                                                
                    </div>
                    <!-- .row end -->
                   
                </div>
                <!-- .container end -->
                
            </div>
            <!-- .header-content-overlay end -->
            
        </div>
        <!-- .header-content end -->
        
    </header>
    <!-- #header end -->
    
    <!-- #about -->
    <div id="acerca" class="wrap-container8060">
        
        <!-- .container -->
        <div class="container">
            
            <div class="post-heading-center">
            	<h2>Acerca de Tecnix</h2>
                <img src="{% static "home/images/content/landing/logo3.png"%}" alt="Image" class="img img-responsive col-md-offset-3" />
                <p>Somos una plataforma web y móvil que te permite solucionar inconvenientes que tengas con tu computador de escritorio o portátil a través de asistencia remota o servicio en el lugar donde lo necesites de la mano de técnicos certificados y de confianza. </p>
            </div>
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-md-6 col-md-offset-4">
                    <center>
                    	<figure class="padding-top30-md margin-bottom20">
                        	<img src="{% static "home/images/content/landing/4.jpg"%}" alt="Image" class="img img-responsive" />
                        </figure>
                    </center>
                </div>
               
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #about end -->
    
    <!-- separator -->
    <div class="container">
    	<div class="sep-border"></div>
    </div>
    
    <!-- #features -->
    <div id="beneficios" class="wrap-container40">
        
        <!-- .container -->
        <div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-4"> <!-- 1 -->
                	<div class="affa-feature-icon">
                        <center>
                            <img src="{% static "home/images/content/icon/remoto.png" %}" alt="Icon" />
                            <h4>Asistencia Remota</h4>
                            <p>
                                Con nosotros tienes asesoría en línea 24/7. Con esta característica, no tenemos necesidad de desplazarnos hasta donde te encuentres para poder asistirte. 
                            </p>
                        </center>
                    </div>
                </div>
                
                <div class="col-sm-4"> <!-- 2 -->
                	<div class="affa-feature-icon">
                        <center>
                            <img src="{% static "home/images/content/icon/home.png" %}" alt="Icon" />
                            <h4>Soporte a domicilio</h4>
                        
                        <p>En solo 4 pasos recibe soporte técnico en el lugar donde lo necesites, ya sea para mantenimiento preventivo o reparación de tus equipos de cómputo.</p>
                    </center>
                    </div>
                </div>
                
                <div class="col-sm-4"> <!-- 3 -->
                	<div class="affa-feature-icon">
                        <center>
                            <img src="{% static "home/images/content/icon/tutos.png" %}" alt="Icon" />
                            <h4>Hazlo tú mismo</h4>
                            <p>En esta sección puedes encontrar una variedad de <b>tutoriales paso a paso</b>  de cómo solucionar inconvenientes usuales que puedes realizar sin la ayuda de nadie.</p>
                        </center>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #features end -->
    
    <!-- #features2 -->
    <div id="features2" class="padding-bottom60">
        
        <!-- .container -->
        <div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-md-8">
                	<div class="post-heading-left no-margin-bottom">
                        <h2><span>¡Te asistimos de forma oportuna y segura!</span></h2>
                        <p></p>
                    </div>
                    <div class="list-row">
                        <div class="list-col">
                            <ul class="list-icon">
                            	<li><i class="fa fa-angle-right"></i> Servicio hasta tu hogar o lugar de trabajo</li>
                                <li><i class="fa fa-angle-right"></i> Instalación, configuración de impresoras</li>
                                <li><i class="fa fa-angle-right"></i> Instalación de Software</li>
                            </ul>
                        </div>
                        
                        <div class="list-col">
                            <ul class="list-icon">
                                <li><i class="fa fa-angle-right"></i> Reparación de computadores</li>
                                <li><i class="fa fa-angle-right"></i> Limpieza interna y externa de equipos</li>
                                <li><i class="fa fa-angle-right"></i> Entre otros Servicios...</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3">
                	<figure class="margin-bottom20">
                    	<img src="{% static "home/images/content/landing/office.jpg" %}" alt="Image" class="img-style-right" />
                    </figure>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!--
    
 
    <div id="quote" class="bg-parallax" data-parallax="scroll" data-speed="0.2" data-natural-width="1920" data-natural-height="1080" data-image-src="images/content/bg/2.jpg">
        
   
        <div class="bg-overlay70 wrap-container120">
            
   
            <div class="container">
                
                <div class="affa-quote">
                	<h4>Work smart, sincere, honest and always pray that is the key of our Great Products</h4>
                    <p>- our CEO<br>Mugiwara Kiwolen</p>
                </div>
                
            </div>
          
            
        </div>
       
        
    </div>
     end -->
    
  
    
    <!-- #teams -->
    <div id="equipo" class="bg-parallax wrap-container80" data-parallax="scroll" data-speed="0.2" data-natural-width="1920" data-natural-height="1080" data-image-src="{% static "home/images/content/bg/equipo.jpg" %}">
        
        <!-- .container -->
        <div class="container">
            
            <div class="post-heading-center">
            	<h2>Conoce a nuestro equipo</h2>
            </div>
            
        </div>
        <!-- .container end -->
        
        <!-- .teams-row -->
        <div class="carousel-slider teams-row">
            
            <div class="affa-team-col"> <!-- 1 -->
                <div class="affa-team-profile">
                    <img src="{% static "home/images/content/avatar/juan.png" %}" alt="Avatar" />
                    <div class="team-profile-name">
                    	<h4>Juan Sarmiento Rosso</h4>
                        <p>CEO y Fundador</p>
					</div>
                    
                </div>
            </div>
            
            <div class="affa-team-col"> <!-- 2 -->
                <div class="affa-team-profile">
                    <img src="{% static "home/images/content/avatar/daniel.png" %}" alt="Avatar" />
                    <div class="team-profile-name">
                    	<h4>Daniel Yepes Ahumedo</h4>
                        <p>Desarrollador web</p>
					</div>
                    
                </div>
            </div>

            <div class="affa-team-col"> <!-- 2 -->
                <div class="affa-team-profile">
                    <img src="{% static "home/images/content/avatar/carlos.jpg" %}" alt="Avatar" />
                    <div class="team-profile-name">
                        <h4>Carlos Castillo</h4>
                        <p>Diseñador web</p>
                    </div>
                    
                </div>
            </div>
            
            <div class="affa-team-col"> <!-- 3 -->
                <div class="affa-team-profile">
                    <img src="{% static "home/images/content/avatar/ronald.png" %}" alt="Avatar" />
                    <div class="team-profile-name">
                    	<h4>Ronald Chico Vergara</h4>
                        <p>Soporte Técnico</p>
					</div>
                    
                </div>
            </div>

            
            
            
        </div>
        <!-- .teams-row end -->
        
    </div>
    <!-- #teams end -->
    
   
    
    <!-- separator -->
    <div class="container">
    	<div class="sep-border"></div>
    </div>
    
    <!-- #faq -->
    <div id="preguntas" class="wrap-container8040">
    	
        <!-- .container -->
        <div class="container">
        	
            <div class="post-heading-center">
            	<h2>Preguntas Frecuentes</h2>
                <p>¡Estas son las preguntas que más se hacen nuestros visitantes, esperamos que resuelvan sus inquietudes con las respuestas!</p>
            </div>
            
            <!-- .row -->
            <div class="row">
                <div class="col-md-12 preguntas" style="border: 1px solid rgba(0, 157, 224,.95);">
                  <div class="col-md-5">
                <ul class="nav nav-tabs">
                        <li class="active"><a href="#pregunta1" data-toggle="tab"><i class="fa fa-question-circle"></i> ¿Qué es Tecnix?</a></li>
                        <li class=""><a href="#pregunta2" data-toggle="tab"><i class="fa fa-map-marker"></i> ¿Tecnix está disponible para mi zona?</a></li>
                        <li class=""><a href="#pregunta3" data-toggle="tab"><i class="fa fa-clock-o"></i> ¿En qué horarios están disponibles?</a></li>
                        <li class=""><a href="#pregunta4" data-toggle="tab"><i class="fa fa-laptop"></i> ¿A donde tengo que llevar mi computador para que me asistan?</a></li>
                        <li class=""><a href="#pregunta5" data-toggle="tab"><i class="fa fa-commenting"></i> ¿Qué es Soporte Remoto?</a></li>
                        <li class=""><a href="#pregunta6" data-toggle="tab"><i class="fa fa-users"></i> ¿Qué servicios ofrecen actualmente?</a></li>
                        <li class=""><a href="#pregunta7" data-toggle="tab"><i class="fa fa-dollar"></i> ¿Cuánto vale agendar una cita a domicilio para revisión y diagnóstico?</a></li>
                    </ul></div>
                        <div class="col-md-6">
                        <div class="tab-content">
                        <div class="tab-pane active fade in" id="pregunta1">
                            <div class="media">
                               
                                <div class="media-body">
                                    <p>Tecnix es una plataforma web/móvil que te permite solucionar inconvenientes que tengas con tu computador de escritorio o portátil a través de asistencia remota o servicio en el lugar donde lo necesites de la mano de técnicos certificados y de confianza.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pregunta2">
                            <div class="media">
                                <div class="media-body">
                                    <p>Tecnix actualmente opera los servicios a domicilio en Cartagena, Colombia pero, si estás en otro lado del mundo, te podemos asistir de forma remota a través de chat en vivo o soporte remoto sin ningún problema.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pregunta3">
                            <div class="media">
                                <div class="media-body">
                                    <p>Estamos disponibles de 8:00 AM a 8:00 PM (GTM-5 / Bogotá) para los servicios de soporte a domicilio y para el servicio de soporte remoto estamos las 24 horas del día prestos a ayudarte.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pregunta4">
                            <div class="media">
                                <div class="media-body">
                                    <p>No te preocupes, nosotros vamos hacia ti. Después de solicitar el soporte a domicilio, te haremos llegar los datos del técnico que te asistirá en tu hogar o lugar de trabajo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pregunta5">
                            <div class="media">
                                <div class="media-body">
                                    <p>
                                        El servicio de asistencia remota consiste en ayudarte con los problemas de tu computador de mesa o portátil de forma remota, es decir, sin que el técnico tenga que ir hasta el lugar donde te encuentres (oficina o domicilio). 
                                        <b>Debes tener instalado y en normal funcionamiento tu servicio de Internet.</b>
                                        <br><em>* La asistencia remota en ocasiones no sustituye a la asistencia presencial, ya que determinados problemas suelen ser más complejos y necesitan de la manipulación de partes internas del equipo.</em>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pregunta6">
                            <div class="media">
                                <div class="media-body">
                                    <p>
                                        <ul>
                                            <li>Instalación, configuración, reparación y mantenimiento de equipos de cómputo</li>                                            
                                            <li>Instalación de Hardware.</li>
                                            <li>Instalación de Software.</li>
                                            <li>Mantenimiento y Limpieza de errores de sistema operativo.</li>
                                            <li>Optimización del rendimiento de computadores.</li>
                                            <li>Asesoría personalizada</li>
                                            <li>Entre otros...</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pregunta7">
                            <div class="media">
                                <div class="media-body">
                                    <p>
                                       Puedes agendar una cita a domicilio para revisión y diagnósito desde COP$ 20.000 pesos.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
                
           
       
            <br>
            <p class="margin-bottom40 text-center"><i>¡Si todavía te quedaron dudas acerca de nuestro servicio, puedes escribirnos a <a href="mailto:hola@tecnix.co" target="_self">hola@tecnix.co</a> y con gusto te responderemos!</i></p>
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #faq end -->
    
   
    
    <!-- #clients -->
    <div id="aliados" class="wrap-container80">
        
        <!-- .container -->
        <div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-md-10 col-md-offset-1">
                	<h2 class="text-info margin-bottom30">NUESTROS ALIADOS</h2>
                    <div class="clients-row">
                    	<div class="affa-client-logo"> <!-- 1 -->
                        	<div class="logo-overlay"></div>
                            <img src="{% static "home/images/content/aliados/mintic.png" %}" alt="Logo" />
                        </div>
                        
                        <div class="affa-client-logo no-border-right-xs"> <!-- 2 -->
                        	<div class="logo-overlay"></div>
                            <img src="{% static "home/images/content/aliados/vivedigital.png" %}" alt="Logo" />
                        </div>
                        
                        <div class="affa-client-logo no-border-right-sm"> <!-- 3 -->
                        	<div class="logo-overlay"></div>
                            <img src="{% static "home/images/content/aliados/appsco.png" %}" alt="Logo" />
                        </div>
                        
                        <div class="affa-client-logo no-border-bottom-sm no-border-right-xs"> <!-- 4 -->
                        	<div class="logo-overlay"></div>
                            <img src="{% static "home/images/content/aliados/colciencias.png" %}" alt="Logo" />
                        </div>
                        
                        <div class="affa-client-logo no-border-bottom"> <!-- 5 -->
                        	<div class="logo-overlay"></div>
                            <img src="{% static "home/images/content/aliados/comfenalco.png" %}" alt="Logo" />
                        </div>
                        
                        <div class="affa-client-logo no-border-bottom no-border-right"> <!-- 6 -->
                        	<div class="logo-overlay"></div>
                            <img src="{% static "home/images/content/aliados/gobierno.png" %}" alt="Logo" />
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #clients end -->
    
    <!-- #footer -->
    <footer id="footer">
        
        <!-- .container -->
        <div class="container padding-bottom20">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-4 widget"> <!-- 1 -->
                	<img src="{% static "home/images/logo_tecnix_ white.svg"%}" alt="Logo" class="footer-logo" />
                    <p>Servicio técnico de confianza en el lugar que lo necesites.</p>
                    <div class="footer-socials">
                        <a href="https://www.facebook.com/TecnixCO/" title="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/TecnixCO?lang=es" title="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" title="youtube"><i class="fa fa-youtube"></i></a>
                        <a href="#" title="instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
                
                <div class="col-sm-4 widget"> <!-- 2 -->
                	<h4 class="widget-title">Accesos Rápidos</h4>
                    <div class="row">
                    	<div class="col-sm-6">
                        	<ul>
                            	<li><a href="#header" class="smooth-scroll">Acerca</a></li>
                                <li><a href="#beneficios" class="smooth-scroll">Beneficios</a></li>
                                <li><a href="#equipo" class="smooth-scroll">Nuestro Equipo</a></li>
                                <li><a href="#preguntas" class="smooth-scroll">Preguntas frecuentes</a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-sm-4 widget"> <!-- 3 -->
                    <h4 class="widget-title">Contáctanos</h4>
                    <p>Cartagena<br>Bolívar<br>(+57) 300 4944743 / +5 6720438<br><a href="#">www.tecnix.co</a><br><a href="mailto:hola@tecnix.co" target="_self">hola@tecnix.co</a></p>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
        <div class="footer-copyright">
        	<div class="container">
                <p><a href="#">TECNIX</a> 2016 &copy;  Todos los derechos reservados.</p>
            </div>
        </div>
        
    </footer>
    <!-- #footer end -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
         
                Solicitar Servicio al instante
        </h4>
      </div>
      <div class="modal-body">
            
                <center>
            <h4 class="alert-sucess">Ingresa tus datos para contactarte</h4><br>
            <h4 id="msj-error" class="text-danger"></h4>
            <div class="col-ms-6 text-success">
                <div id="msj">
                    <label for="nombre">Su nombre:</label>
                    <input type="text" id="nombre" class="form-control" required="">
                    <label for="nombre">Su email:</label>
                    <input type="text" id="email" class="form-control" required="">
                    <label for="telefono">Su teléfono:</label>
                    <input type="text" id="telefono" class="form-control" required="">
                    <br>
                    <input type="submit" class="btn btn-success" id="llamada_form" value="Envío Rapido">
                </div>
            </div>
            </center>
       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
    
    
    
    <!-- JavaScripts -->
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/57e56d72bb785b3a47c8ff02/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
    <script>
$('#llamada_form').click(function(){
    
    
  var rows = [];
  var item = {};
  item["nombre"] = document.getElementById("nombre").value;
  item["telefono"] = document.getElementById("telefono").value;
  item["email"] = document.getElementById("email").value;

  if (item["nombre"]=="" || item["telefono"]=="" || item["email"]==""){
    document.getElementById("msj-error").innerHTML = "Formulario invalido, ingrese sus datos en los campos."
  }else{  
    document.getElementById('llamada_form').disabled = true;
  rows.push(JSON.stringify(item));
  var elem = document.createElement("img");
    elem.setAttribute("src", "{% static "home/images/5.gif" %}");
    elem.setAttribute("height", "90");
    elem.setAttribute("width", "90");
    elem.setAttribute("alt", "cargando");
    document.getElementById("msj").innerHTML = "";
    document.getElementById("msj").appendChild(elem);

   llamada_dict = rows.join("/");
      $.ajax({
               type: "POST",
               url: "{% url 'registrar_solicitud_llamada' %}",
               data: {llamada_dict : llamada_dict, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                    
                    setTimeout(function(){
                        document.getElementById("msj").innerHTML = response.message;
                        document.getElementById("msj-error").innerHTML = "";
                    }, 1000);
                      
                      
                      
                },
                error: function(rs, e) {
                    document.getElementById("msj").innerHTML = rs.responseText;
                      
                }
          }); 
  }
 
    })
</script>

	<script type="text/javascript" src="{% static "home/js/jquery-1.11.3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "home/js/jquery-migrate-1.2.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "home/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "home/js/jquery.easing.min.js" %}"></script>
    <script type="text/javascript" src="{% static "home/js/smoothscroll.js" %}"></script>
	<script type="text/javascript" src="{% static "home/js/response.min.js" %}"></script>
	<script type="text/javascript" src="{% static "home/js/jquery.placeholder.min.js" %}"></script>
    <script type="text/javascript" src="{% static "home/js/jquery.fitvids.js" %}"></script>
    <script type="text/javascript" src="{% static "home/js/jquery.imgpreload.min.js" %}"></script>
    <script type="text/javascript" src="{% static "home/js/waypoints.min.js" %}"></script>
	<script type="text/javascript" src="{% static "home/js/slick.min.js" %}"></script>
	<script type="text/javascript" src="{% static "home/js/jquery.mousewheel-3.0.6.pack.js" %}"></script>
    <script type="text/javascript" src="{% static "home/js/jquery.fancybox.pack.js" %}"></script>
    <script type="text/javascript" src="{% static "home/js/jquery.fancybox-media.js" %}"></script>
    <script type="text/javascript" src="{% static "home/js/parallax.min.js" %}"></script>
    <script type="text/javascript" src="{% static "home/js/jquery.counterup.min.js" %}"></script>
    <script type="text/javascript" src="{% static "home/js/isotope.pkgd.min.js" %}"></script>
	<script type="text/javascript" src="{% static "home/js/script.js" %}"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85017640-1', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>