<!DOCTYPE html>{% load staticfiles %}{% load widget_tweaks %}
<html>
  <head> 
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.png">
    <script src="{% static "app/js/jquery-3.1.0.min.js" %}" type="text/javascript"></script>
    <script src="{% static "app/js/bootstrap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "app/js/js.js" %}" type="text/javascript"></script>
    
    <link href="{% static "app/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "app/css/style.css" %}" rel="stylesheet" type="text/css">
  </head>
  <body id="lr">
    <div id="background"></div>
    <div id="container-full-lr">
      <!-- *** Alert ***
      <div class="alert alert-danger block">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Vaya!, el correo que ingresaste no está en nuestro sistema, revísalo e intenta nuevamente.
      </div>
      <div class="alert alert-success block">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Hemos enviado un mensaje a tu correo, por favor revisalo para recuperar tu contraseña.
      </div>-->
      <div id="container-lr">
        <div class="text-center block">
          <a href="#"><img src="{% static "app/img/icon4.png"%}" alt="Tecnix, Servicio técnico de confianza en el lugar que lo necesites"></a>
        </div>
        <hr>
        <div class="block">
          {% block content %}
          {% endblock %}
        </div>
        <p class="text-muted text-center small">&COPY; 2016 - Tecnix. Derechos reservados</p>
      </div>
    </div>
  </body>
</html>