{% extends "registration/base.html" %}
{% load i18n %}


{% block title %}{{ title }}{% endblock %}
{% block content %}

<p>Le hemos enviado un correo electrónico con las instrucciones para restablecer su contraseña. Usted lo debe estar recibiendo en breve.</p>

<p>Si no recibe el correo electrónico, por favor asegúrese de que ha introducido el email con que se registró, y comprobar su carpeta de correo no deseado (SPAM).</p>

{% endblock %}
