{% extends "registration/base.html" %}{% load widget_tweaks %}
{% load i18n %}


{% block title %}{{ title }}{% endblock %}
{% block content %}

<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">Email O Nombre de usuario:</label> 
{% render_field form.email_or_username class+="form-control" placeholder+="Ingrese su email o nombre de usuario"  required=""%}
<input type="submit" value="{% trans 'Reset my password' %}" /></p>
</form>

{% endblock %}
