{% extends "registration/base.html" %}
{% load i18n %}



{% block title %}{{ title }}{% endblock %}

{% block content %}

<p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

<p><a href="{% url 'login_view' %}">{% trans 'Log in' %}</a></p>

{% endblock %}
