html {
  height: 100%;
}

body {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 400;
}

.block {
  display: block !important;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

/**
 *------------------------------------------------------------------------------
 * Views
 *------------------------------------------------------------------------------
 **/

/**
 *----------------------------
 * General (Login, Register & Recover Password)
 *----------------------------
 **/

body#lr {
  height: 100%;
  background: url(../img/fondo.jpg) 50% 0 no-repeat fixed;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
  background: #1f9ed9;
  position: fixed;
}

#container-full-lr {
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;
}

#container-lr {
  background: #ffffff;
  border-radius: 3px;
  padding: 20px;
}

/**
 *----------------------------
 * Register
 *----------------------------
 **/

.register #container-full-lr {
  max-width: 900px;
}

/**
 *----------------------------
 * Recover Password
 *----------------------------
 **/



/**
 *----------------------------
 * General Panel
 *----------------------------
 **/

#panel {
  height: 100%;
}

#panel #container aside {
  padding-top: 20px;
  background: #1f9ed9;
}

#panel #container aside a.logo {
  display: inline-block;
}

#panel #container aside .panel-header {
  color: #ffffff;
}

#panel #container aside hr {
  margin-bottom: 0;
  border-color: #66ccff;
}

#panel #container aside ul {
  margin: 0;
  padding: 10px 0;
}

#panel #container aside li {
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 5px;
}

#panel #container aside li:last-child {
  border-bottom: none;
}

#panel #container aside li a {
  font-weight: bold;
  padding: 10px;
  display: block;
  color: #ffffff;
}

#panel #container aside li.active a {
  background: #ffffff;
  color: #1f9ed9;
  border-radius: 3px;
}

#panel #container aside ul li:first-child a {
  background: #66cc00;
  color: #ffffff;
  border-radius: 3px;
}

#panel #container aside ul li:first-child {
  margin-bottom: 20px;
}

#panel #container aside li a:hover {
  text-decoration: none;
  background: #ffffff !important;
  color: #1f9ed9 !important;
  border-radius: 3px;
  transition: background 0.2s linear;
}

#panel #container #content {
  padding: 30px;
}

#panel #container #content > div h1 {
  margin: 0 0 20px 0;
}

.section-title {
  font-size: 1.2em;
  margin-bottom: 20px;
}

a[class*="large-button"] {
  padding: 20px;
  border-radius: 3px;
  color: #ffffff;
  display: block;
  text-align: center;
}

.text-green {
  color: #66cc00;
}

.large-button-blue {
  background: #1f9ed9;
}

.large-button-red {
  background: #ff0000;
}

.large-button-green {
  background: #66cc00;
}

.large-button-gray {
  background: #999999;
}

.large-button-orange {
  background: #ff9900;
}

a[class*="large-button"] span {
  font-size: 2em;
}
label.img-input {
  margin-right: 20px;
}

input[name="device_type"] {
  visibility: hidden;
  position: absolute;
}

label.img-input img {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 3px;
  border: 3px solid #f5f5f5;
  cursor: pointer;
}

label.img-input input:checked + img {
  border: 3px solid #1f9ed9;
}

table#price-details tr td {
  border-top: 0px !important;
  padding: 0;
}

label.textarea {
  width: 100% !important;
}

textarea {
  width: 100%;
  max-width: 100%;
}

#service-details .row p {
  margin-top: 12px;
  font-size: 1.2em;
}

/**
 *----------------------------
 * User Panel
 *----------------------------
 **/



/**
 *----------------------------
 * My devices
 *----------------------------
 **/



/**
 *----------------------------
 * Technician Panel
 *----------------------------
 **/



/**
 *----------------------------
 * Admin Panel
 *----------------------------
 **/



/**
 *------------------------------------------------------------------------------
 * Responsive Views
 *------------------------------------------------------------------------------
 **/

/**
 *----------------------------
 * Login
 *----------------------------
 **/

@media screen and (max-width: 720px) {
  body#lr {
    padding: 0;
    height: auto;
    background: #ffffff;
  }
  
  #background {
    display: none;
  }
  
  #container-full-lr {
    max-width: 100%;
    margin: 0 auto;
    position: inherit;
    transform: none;
    padding: 0;
  }
  
  #container-full-lr form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  #container-full-lr form > div {
    width: 100%;
  }
  
  #container-lr {
    border-radius: 0;
    background: none;
  }
  
  .alert {
    margin-bottom:  0;
    border-radius: 0;
    border: none;
  }
}