 {% load staticfiles %}
	<link rel="stylesheet" href="{% static "blog/js/jvectormap/jquery-jvectormap-1.2.2.css" %}">
	<link rel="stylesheet" href="{% static "blog/js/rickshaw/rickshaw.min.css" %}">
	<!-- Bottom Scripts -->
	<script src="{% static "blog/js/gsap/main-gsap.js" %}"></script>
	<script src="{% static "blog/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js" %}"></script>
	<script src="{% static "blog/js/bootstrap.js" %}"></script>
	<script src="{% static "blog/js/joinable.js" %}"></script>
	<script src="{% static "blog/js/resizeable.js" %}"></script>
	<script src="{% static "blog/js/neon-api.js" %}"></script>
	<script src="{% static "blog/js/jvectormap/jquery-jvectormap-1.2.2.min.js" %}"></script>
	<script src="{% static "blog/js/jvectormap/jquery-jvectormap-europe-merc-en.js" %}"></script>
	<script src="{% static "blog/js/jquery.sparkline.min.js" %}"></script>
	<script src="{% static "blog/js/rickshaw/vendor/d3.v3.js" %}"></script>
	<script src="{% static "blog/js/rickshaw/rickshaw.min.js" %}"></script>
	<script src="{% static "blog/js/raphael-min.js" %}"></script>
	<script src="{% static "blog/js/morris.min.js" %}"></script>
	<script src="{% static "blog/js/toastr.js" %}"></script>
	<script src="{% static "blog/js/neon-chat.js" %}"></script>
	<script src="{% static "blog/js/neon-custom.js" %}"></script>
	<script src="{% static "blog/js/neon-demo.js" %}"></script>
	<script src="{% static "blog/js/wysihtml5/wysihtml5-0.4.0pre.min.js"%}"></script>
	<script src="{% static "blog/js/wysihtml5/bootstrap-wysihtml5.js"%}"></script>
	<script src="{% static "blog/js/wysihtml5/wysihtml5-0.4.0pre.min.js"%}"></script>
	<script src="{% static "blog/js/wysihtml5/bootstrap-wysihtml5.js"%}"></script>
	<script src="{% static "blog/js/jquery-1.11.0.min.js"%}"></script>
	<link rel="stylesheet" href="{% static "blog/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css"%}">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>