/* #Table of Contents

1. Site Styles
2. Header
3. Navigation 
4. Elements
5. Footer
6. Media Queries
================================================== */



/* ========================= Site Styles ========================= */

html {
	overflow-x:hidden;
	-webkit-font-smoothing:antialiased;
}

@media only screen and (-webkit-min-device-pixel-ratio:1.25), only screen and (min-device-pixel-ratio:1.25), only screen and (min-resolution:200dpi), only screen and (min-resolution:1.25dppx) { -webkit-font-smoothing: subpixel-antialiased; }

body {
	font-family:Poppins, Arial, sans-serif;
	color:#707070;
	font-size:14px;
	line-height:26px;
	font-weight:300;
}

p { margin-bottom:15px; }

h1, h2, h3, h4, h5, h6 {
	font-family:Montserrat, Arial, sans-serif;
	color:#202020;
	font-weight:400;
	margin-top:0px;
}
h1, h2, h3, h4 { margin-bottom:15px; }
h5, h6 { margin-bottom:10px; }
h1 {
	font-size:42px;
	line-height:52px;
}
h2 {
	font-size:36px;
	line-height:44px;
}
h3 {
	font-size:30px;
	line-height:38px;
}
h4 {
	font-size:24px;
	line-height:32px;
}
h5 {
	font-size:18px;
	line-height:24px;
}
h6 {
	font-size:14px;
	line-height:20px;
}
	h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { color:#a2c037; }
	
a, a:visited {
	color:#a2c037;
	-webkit-transition:color .2s ease, background-color .2s ease, background .2s ease, border .2s ease, outline .2s ease, opacity .2s ease-in-out;
	transition:color .2s ease, background-color .2s ease, background .2s ease, border .2s ease, outline .2s ease, opacity .2s ease-in-out;
}
a:hover {
	color:#444;
	text-decoration:none;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { color:#202020; }
a:focus { text-decoration:none; }

ul li { line-height:inherit; }

figure { margin:0px; }
	figure img { width:100%; }
	figure iframe {
		overflow:hidden;
		width:100% !important;
		background-color:#f4f4f4;
		border:0px;
	}
	
video {
	width:100%;
	height:auto;
}

.no-padding-top { padding-top:0px !important; }
.no-padding-right { padding-right:0px !important; }
.no-padding-bottom  { padding-bottom:0px !important; }
.no-padding-left { padding-left:0px !important; }

.padding-top10, .padding-top10-lg { padding-top:10px !important; }
.padding-top20, .padding-top20-lg { padding-top:20px !important; }
.padding-top30, .padding-top30-lg { padding-top:30px !important; }
.padding-top40, .padding-top40-lg { padding-top:40px !important; }
.padding-top50, .padding-top50-lg { padding-top:50px !important; }
.padding-top60, .padding-top60-lg { padding-top:60px !important; }
.padding-top70, .padding-top70-lg { padding-top:70px !important; }
.padding-top80, .padding-top80-lg { padding-top:80px !important; }

.padding-bottom10, .padding-bottom10-lg { padding-bottom:10px !important; }
.padding-bottom20, .padding-bottom20-lg { padding-bottom:20px !important; }
.padding-bottom30, .padding-bottom30-lg { padding-bottom:30px !important; }
.padding-bottom40, .padding-bottom40-lg { padding-bottom:40px !important; }
.padding-bottom50, .padding-bottom50-lg { padding-bottom:50px !important; }
.padding-bottom60, .padding-bottom60-lg { padding-bottom:60px !important; }
.padding-bottom70, .padding-bottom70-lg { padding-bottom:70px !important; }
.padding-bottom80, .padding-bottom80-lg { padding-bottom:80px !important; }

.no-margin-top, .no-margin-top-lg { margin-top:0px !important;	}
.no-margin-right, .no-margin-right-lg { margin-right:0px !important;	}
.no-margin-bottom, .no-margin-bottom-lg  { margin-bottom:0px !important; }
.no-margin-left, .no-margin-left-lg { margin-left:0px !important; }

.margin-top10, .margin-top10-lg { margin-top:10px !important; }
.margin-top20, .margin-top20-lg { margin-top:20px !important; }
.margin-top30, .margin-top30-lg { margin-top:30px !important; }
.margin-top40, .margin-top40-lg { margin-top:40px !important; }
.margin-top50, .margin-top50-lg { margin-top:50px !important; }
.margin-top60, .margin-top60-lg { margin-top:60px !important; }
.margin-top70, .margin-top70-lg { margin-top:70px !important; }
.margin-top80, .margin-top80-lg { margin-top:80px !important; }

.margin-bottom10, .margin-bottom10-lg { margin-bottom:10px !important; }
.margin-bottom20, .margin-bottom20-lg { margin-bottom:20px !important; }
.margin-bottom30, .margin-bottom30-lg { margin-bottom:30px !important; }
.margin-bottom40, .margin-bottom40-lg { margin-bottom:40px !important; }
.margin-bottom50, .margin-bottom50-lg { margin-bottom:50px !important; }
.margin-bottom60, .margin-bottom60-lg { margin-bottom:60px !important; }
.margin-bottom70, .margin-bottom70-lg { margin-bottom:70px !important; }
.margin-bottom80, .margin-bottom80-lg { margin-bottom:80px !important; }

.required { color:#ff3d3d; }

.tab-content {
    background: #FFFFFF;

	padding: 25px;
}
.nav-tabs {
    
	border-right: 1px solid #DDDDDD;
	color:rgba(0, 157, 224,.95);;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], .ie input[type="range"], .ie9 input[type="range"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], select, textarea {
	height:54px;
	color:#555;
	font-size:14px;
	font-weight:300;
	background-color:#f6f6f6;
	padding:0px 20px;
	border:0px;
	outline:none !important;
	box-shadow:0px 1px 2px rgba(0,0,0,.05) inset;
	width:100%;
	margin-bottom:20px;
	-webkit-transition:color .2s ease, background-color .2s ease, box-shadow .2s ease;
	transition:color .2s ease, background-color .2s ease, box-shadow .2s ease;
}
input[type="datetime"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color:#555; }
input[type="datetime"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="url"]:-moz-placeholder, textarea:-moz-placeholder { color:#555; }
input[type="datetime"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="url"]::-moz-placeholder, textarea::-moz-placeholder { color:#555; }
input[type="datetime"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, textarea:-ms-input-placeholder { color:#555; }
.ie input[type="color"], .ie input[type="date"], .ie input[type="datetime"], .ie input[type="datetime-local"], .ie input[type="email"], .ie input[type="month"], .ie input[type="number"], .ie input[type="password"], .ie input[type="range"], .ie input[type="search"], .ie input[type="tel"], .ie input[type="text"], .ie input[type="time"], .ie input[type="url"], .ie input[type="week"] { line-height:54px; }
input[type="color"]::-webkit-color-swatch-wrapper { padding:0px; }
input[type="color"]::-webkit-color-swatch { border:0px; }
@-moz-document url-prefix() {
	input[type="color"] {
		height:31px;
		padding:0px;

	}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	input[type="color"] {
		height:31px;
		padding:0px;
	}
	::i-block-chrome, input[type="color"] {
		height:54px;
		padding:0px 20px;
	}
}
input[type="date"]::-webkit-inner-spin-button, input[type="datetime-local"]::-webkit-inner-spin-button, input[type="month"]::-webkit-inner-spin-button, input[type="week"]::-webkit-inner-spin-button { display:none; }
input[type="date"]::-webkit-calendar-picker-indicator, input[type="datetime-local"]::-webkit-calendar-picker-indicator, input[type="month"]::-webkit-calendar-picker-indicator, input[type="week"]::-webkit-calendar-picker-indicator {
	background:#e0e0e0;
	margin-left:5px;
}
input[type="file"] { line-height:1; }
input[type="image"] { background:none; }
input[type="number"]::-webkit-inner-spin-button {
	display:block;
	position:relative;
	width:8px;
	color:#333;
	text-align:center;
	cursor:pointer;
	margin-right:-20px;
}
input[type="time"]::-webkit-inner-spin-button { margin:14px 0px 0px 5px; }
select, textarea {
	height:auto;
	padding:14.5px 16px;
}
::i-block-chrome, select {
	padding:10px 20px;
	-webkit-appearance:none;
}
textarea {
	padding-left:20px;
	padding-right:20px;
}
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, .ie input[type="range"]:focus, .ie9 input[type="range"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, select:focus, textarea:focus {
	background-color:#f0f0f0;
	box-shadow:0px 1px 2px rgba(0,0,0,.06) inset;
	width:100%;
	margin-bottom:20px;
}
input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, .ie input[type="range"]:disabled, .ie9 input[type="range"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, select:disabled, textarea:disabled {
	color:#9a9a9a;
	background-color:#d0d0d0;
	box-shadow:none;
}
input[type="datetime"]:disabled::-webkit-input-placeholder, input[type="email"]:disabled::-webkit-input-placeholder, input[type="number"]:disabled::-webkit-input-placeholder, input[type="password"]:disabled::-webkit-input-placeholder, input[type="search"]:disabled::-webkit-input-placeholder, input[type="tel"]:disabled::-webkit-input-placeholder, input[type="text"]:disabled::-webkit-input-placeholder, input[type="url"]:disabled::-webkit-input-placeholder, textarea:disabled::-webkit-input-placeholder { color:#9a9a9a; }
input[type="datetime"]:disabled:-moz-placeholder, input[type="email"]:disabled:-moz-placeholder, input[type="number"]:disabled:-moz-placeholder, input[type="password"]:disabled:-moz-placeholder, input[type="search"]:disabled:-moz-placeholder, input[type="tel"]:disabled:-moz-placeholder, input[type="text"]:disabled:-moz-placeholder, input[type="url"]:disabled:-moz-placeholder, textarea:disabled:-moz-placeholder { color:#9a9a9a; }
input[type="datetime"]:disabled::-moz-placeholder, input[type="email"]:disabled::-moz-placeholder, input[type="number"]:disabled::-moz-placeholder, input[type="password"]:disabled::-moz-placeholder, input[type="search"]:disabled::-moz-placeholder, input[type="tel"]:disabled::-moz-placeholder, input[type="text"]:disabled::-moz-placeholder, input[type="url"]:disabled::-moz-placeholder, textarea:disabled::-moz-placeholder { color:#9a9a9a; }
input[type="datetime"]:disabled:-ms-input-placeholder, input[type="email"]:disabled:-ms-input-placeholder, input[type="number"]:disabled:-ms-input-placeholder, input[type="password"]:disabled:-ms-input-placeholder, input[type="search"]:disabled:-ms-input-placeholder, input[type="tel"]:disabled:-ms-input-placeholder, input[type="text"]:disabled:-ms-input-placeholder, input[type="url"]:disabled:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder { color:#9a9a9a; }

.btn-custom, input[type="button"], input[type="submit"], input[type="reset"], button {
	color:#FFF !important;
	font-size:14px;
	line-height:54px;
	text-align:left;
	font-weight:700;
	text-transform:uppercase;
	white-space:nowrap;
	background-color: #a2c037;
	padding:16px 30px 15px;
	border:0px;
	outline:none !important;
	border-radius:2px;

	-webkit-transition:color .2s ease, background-color .2s ease, background .2s ease;
	transition:color .2s ease, background-color .2s ease, background .2s ease;
}
input[type="button"], input[type="submit"], input[type="reset"], button {
	line-height:1;
	padding-top:20px;
	padding-bottom:20px;
	text-align: center;
}
.btn-custom.btn-blue, input[type="button"].btn-blue, input[type="submit"].btn-blue, input[type="reset"].btn-blue, button.btn-blue { background-color:#45aeff; }
.btn-custom.btn-blue:hover, input[type="button"].btn-blue:hover, input[type="submit"].btn-blue:hover, input[type="reset"].btn-blue:hover, button.btn-blue:hover { background-color:#329cee; }
.btn-custom.btn-green, input[type="button"].btn-green, input[type="submit"].btn-green, input[type="reset"].btn-green, button.btn-green { background-color:#4dce43; }
.btn-custom.btn-green:hover, input[type="button"].btn-green:hover, input[type="submit"].btn-green:hover, input[type="reset"].btn-green:hover, button.btn-green:hover { background-color:#38b92e; }
.btn-custom.btn-orange, input[type="button"].btn-orange, input[type="submit"].btn-orange, input[type="reset"].btn-orange, button.btn-orange { background-color:#009de0; }
.btn-custom:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover, .btn-custom.btn-orange:hover, input[type="button"].btn-orange:hover, input[type="submit"].btn-orange:hover, input[type="reset"].btn-orange:hover, button.btn-orange:hover { background-color:#ec502c; }
.btn-custom.btn-pink, input[type="button"].btn-pink, input[type="submit"].btn-pink, input[type="reset"].btn-pink, button.btn-pink { background-color:#ff6c99; }
.btn-custom.btn-pink:hover, input[type="button"].btn-pink:hover, input[type="submit"].btn-pink:hover, input[type="reset"].btn-pink:hover, button.btn-pink:hover { background-color:#eb5180; }
.btn-custom.btn-purple, input[type="button"].btn-purple, input[type="submit"].btn-purple, input[type="reset"].btn-purple, button.btn-purple { background-color:#b865fe; }
.btn-custom.btn-purple:hover, input[type="button"].btn-purple:hover, input[type="submit"].btn-purple:hover, input[type="reset"].btn-purple:hover, button.btn-purple:hover { background-color:#a14beb; }
.btn-custom.btn-yellow, input[type="button"].btn-yellow, input[type="submit"].btn-yellow, input[type="reset"].btn-yellow, button.btn-yellow { background-color:#fab32b; }
.btn-custom.btn-yellow:hover, input[type="button"].btn-yellow:hover, input[type="submit"].btn-yellow:hover, input[type="reset"].btn-yellow:hover, button.btn-yellow:hover { background-color:#e59f17; }
.btn-custom.disabled, input[type="button"]:disabled, input[type="submit"]:disabled, input[type="reset"]:disabled, button:disabled, .btn-custom.disabled:hover, input[type="button"]:disabled:hover, input[type="submit"]:disabled:hover, input[type="reset"]:disabled:hover, button:disabled:hover {
	color:#9a9a9a !important;
	background:#d0d0d0;
	cursor:default;
	
}

.btn-play {
	display:inline-block;
	width:120px;
	height:120px;
	font-size:0px;
	text-indent:-99999px;
	background:url(../images/btn-play.png) no-repeat center center;
	padding:0px;
	border-radius:50%;
	-webkit-transition:background-color .2s ease;
	transition:background-color .2s ease;
}
.btn-play:hover { background-color:rgba(252,96,59,.1); }

button.close {
	font-family:Arial, Helvetica, sans-serif;
	color:#404040 !important;
	font-size:20px;
	margin:0px;
	border-radius:0px;
	box-shadow:none;
}
button.close:hover {
	color:#111;
	background:none;
	border:0px;
}

.aligncenter {
	display:block;
	margin:0px auto 20px;
}
.alignright {
    float:right;
    margin:10px 0px 10px 10px;
}
.alignleft {
    float:left;
    margin:10px 10px 10px 0px;
}
.left { float:left;	}
.right { float:right; }
.textcenter { text-align:center; }
.textright { text-align:right; }
.textleft { text-align:left; }

.img-style-left { box-shadow:1px 2px 2px rgba(0,0,0,.25); }
.img-style-right { box-shadow:-1px 2px 2px rgba(0,0,0,.25); }

.img-hover {
	overflow:hidden;
	position:relative;
}
	.img-hover .img-hover-masked {
		visibility:hidden;
		position:absolute;
		top:0px;
		right:0px;
		bottom:0px;
		left:0px;
		background-color:rgba(255,255,255,.25);
		opacity:0;
		-webkit-transition:visibility .2s ease-in-out, opacity .2s ease-in-out;
		transition:visibility .2s ease-in-out, opacity .2s ease-in-out;
	}
	.ie .img-hover .img-hover-masked { background:url(../images/ie-bg-img-hover-masked.png) repeat top left; }
	.img-hover:hover .img-hover-masked {
		visibility:visible;
		opacity:1;
	}
	
.img-overlay {
	overflow:hidden;
	position:relative;
}
	.img-overlay img {
		-webkit-transition:all .3s ease-in-out;
		transition:all .3s ease-in-out;
	}
	.img-overlay:hover img { transform:scale(1.2) rotate(3deg); }
	.img-overlay .overlay-masked-wrap {
		position:absolute;
		right:0px;
		bottom:0px;
		left:0px;
	}
	.img-overlay .overlay-masked {
		color:#FFF;
		background-color:rgba(0,0,0,.7);
		padding:20px;
	}
	.ie .img-overlay .overlay-masked { background:url(../images/ie-bg-img-overlay-masked.png) repeat top left; }
		.img-overlay .overlay-masked h1, .img-overlay .overlay-masked h2, .img-overlay .overlay-masked h3, .img-overlay .overlay-masked h4, .img-overlay .overlay-masked h5, .img-overlay .overlay-masked h6, .img-overlay .overlay-masked p {
			color:#FFF;
			margin:0px;
		}
		.img-overlay .overlay-masked h4 {
			font-size:20px;
			line-height:28px;
		}
		.img-overlay .overlay-masked p {
			font-size:16px;
			line-height:22px;
			margin-top:5px;
		}
		
.carousel-slider.slick-slider { margin-bottom:0px; }
	.carousel-slider .slick-prev, .carousel-slider .slick-next {
		width:32px;
		height:40px;
		text-align:center;
		background-color:rgba(0,0,0,.4);
		margin-top:-20px;
		z-index:100;
		border-radius:0px;
		box-shadow:none;
		-webkit-transform:none;
		-ms-transform:none;
		transform:none;
		-webkit-transition:all .2s ease;
		transition:all .2s ease;
	}
	.ie .carousel-slider .slick-prev, .ie .carousel-slider .slick-next { background:url(../images/ie-bg-carousel-slider-nav.png) repeat top left; }
	.carousel-slider .slick-prev.slick-disabled, .carousel-slider .slick-next.slick-disabled { cursor:default; }
	.carousel-slider .slick-prev:hover, .carousel-slider .slick-next:hover { background-color:rgba(0,0,0,.8); }
	.ie .carousel-slider .slick-prev:hover, .ie .carousel-slider .slick-next:hover { background:url(../images/ie-bg-carousel-slider-nav-hover.png) repeat top left; }
	.carousel-slider .slick-prev.slick-disabled:hover, .carousel-slider .slick-next.slick-disabled:hover { background-color:rgba(0,0,0,.4); }
	.ie .carousel-slider .slick-prev.slick-disabled:hover, .ie .carousel-slider .slick-next.slick-disabled:hover { background:url(../images/ie-bg-carousel-slider-nav.png) repeat top left; }
	.carousel-slider .slick-prev {
		left:0px;
		border-radius:0px 3px 3px 0px;
	}
	.carousel-slider .slick-next {
		right:0px;
		border-radius:3px 0px 0px 3px;
	}
	.carousel-slider .slick-prev:before, .carousel-slider .slick-next:before {
		position:absolute;
		top:0px;
		right:0px;
		bottom:0px;
		left:0px;
		font:normal normal normal 20px/40px FontAwesome;
		color:#FFF;
		text-align:center;
		text-rendering:auto;
		background-color:transparent;
		content:'\f104';
		opacity:1;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
	}
	.carousel-slider .slick-next:before { content:'\f105'; }
	.carousel-slider .slick-dots {
		right:0px;
		bottom:20px;
		left:0px;
		line-height:1;
		margin-bottom:0px;
	}
		.carousel-slider .slick-dots li {
			width:auto;
			height:auto;
			margin:0px;
		}
			.carousel-slider .slick-dots li button {
				display:inline-block;
				width:12px;
				height:12px;
				background:#b0b0b0;
				padding:0px;
				margin:0px 10px;
				border-radius:50%;
				box-shadow:none;
			}
			.carousel-slider .slick-dots li button:before { display:none; }
			.carousel-slider .slick-dots li button:hover, .carousel-slider .slick-dots li.slick-active button { background:#009de0; }
	.carousel-slider .slick-slide, .carousel-slider .slick-slide a { outline:none; }
	.carousel-slider img { width:100%; }
	
.alert h4 { margin-bottom:10px; }

.tooltip {
	font-family:Poppins, Arial, sans-serif;
	font-size:13px;
	line-height:18px;
	font-weight:300;
	text-transform:lowercase;
}
.tooltip-inner { padding:6px 10px 4px; }

.wrap-container20 {
	padding-top:20px;
	padding-bottom:20px;
}
.wrap-container40 {
	padding-top:40px;
	padding-bottom:40px;
}
.wrap-container60 {
	padding-top:60px;
	padding-bottom:60px;
}
.wrap-container80 {
	padding-top:80px;
	padding-bottom:80px;
}
.wrap-container100 {
	padding-top:100px;
	padding-bottom:100px;
}
.wrap-container120 {
	padding-top:120px;
	padding-bottom:120px;
}
.wrap-container6020 {
	padding-top:60px;
	padding-bottom:20px;
}
.wrap-container8040 {
	padding-top:80px;
	padding-bottom:40px;
}
.wrap-container8060 {
	padding-top:80px;
	padding-bottom:60px;
}

.bg-grey { background-color:#f9f9f9; }
.bg-dark { background-color:#333; }
.bg-dark, .bg-dark h1, .bg-dark h2, .bg-dark h3, .bg-dark h4, .bg-dark h5, .bg-dark h6, .bg-dark a, .bg-parallax, .bg-parallax h1, .bg-parallax h2, .bg-parallax h3, .bg-parallax h4, .bg-parallax h5, .bg-parallax h6, .bg-parallax a { color:#FFF; }
	.bg-parallax .bg-overlay40 { background-color:rgba(0,0,0,.4); }
	.ie .bg-parallax .bg-overlay40 { background:url(../images/ie-bg-overlay40.png) repeat top left; }
	.bg-parallax .bg-overlay70 { background-color:rgba(0,0,0,.7); }
	.ie .bg-parallax .bg-overlay70 { background:url(../images/ie-bg-overlay70.png) repeat top left; }
	
ul.list-icon {
	padding:0px;
	margin:20px 0px;
}
	ul.list-icon li {
		list-style-type:none;
		position:relative;
		padding-left:25px;
		margin-bottom:8px;
	}
	ul.list-icon li:last-child { margin-bottom:0px; }
		ul.list-icon li .fa {
			position:absolute;
			top:0px;
			left:0px;
			color:#202020;
			line-height:24px;
		}
		.bg-dark ul.list-icon li .fa, .bg-parallax ul.list-icon li .fa { color:#FFF; }
		
.list-row { margin:0px -10px; }
.list-row:before, .list-row:after {
	display:table;
	content:'';
}
.list-row:after { clear:both; }
	.list-row .list-col {
		float:left;
		width:50%;
		padding:0px 10px;
	}
	
.post-heading-left, .post-heading-center { margin-bottom:40px; }
.post-heading-center {
	text-align:center;
	padding:0px 140px;
}
	.post-heading-left h2, .post-heading-center h2 {
		font-size:30px;
		line-height:36px;
		font-weight:700;
		margin:0px;
	}
	.post-heading-center h2 {
		font-size:34px;
		line-height:40px;
	}
	.post-heading-left h2:after, .post-heading-center h2:after {
		display:block;
		width:40px;
		height:2px;
		background-color: #a2c037;
		content:'';
		margin-top:8px;
	}
	.post-heading-center h2:after {
		margin-right:auto;
		margin-left:auto;
	}
	.bg-dark .post-heading-left h2:after, .bg-dark .post-heading-center h2:after, .bg-parallax .post-heading-left h2:after, .bg-parallax .post-heading-center h2:after { background-color:#FFF; }
	.post-heading-left p, .post-heading-center p {
		color:#202020;
		font-size:18px;
		line-height:26px;
		margin:25px 0px 0px;
	}
	.bg-dark .post-heading-left p, .bg-dark .post-heading-center p, .bg-parallax .post-heading-left p, .bg-parallax .post-heading-center p { color:#FFF; }
	.post-heading-center p {
		font-size:20px;
		line-height:34px;
	}
	.post-heading-left p, .post-heading-center p { margin-top:30px; }
	
.sep-border {
	height:1px;
	background-color:#e9e9e9;
}
.bg-dark .sep-border, .bg-parallax .sep-border { background-color:#2a2a2a; }

.text-info {
	color:#444;
	font-size:20px;
	line-height:28px;
	text-align:center;
}
.bg-dark .text-info, .bg-parallax .text-info { color:#FFF; }

.affa-form-contact { position:relative; }
	.affa-form-contact .submit-status {
		display:none;
		position:absolute;
		top:0px;
		right:0px;
		bottom:0px;
		left:0px;
		font-size:14px;
		line-height:20px;
		text-align:center;
		font-weight:400;
		background-color:rgba(255,255,255,.5);
		z-index:400;
	}
	.ie .affa-form-contact .submit-status { background:url(../images/ie-bg-submit-status.png) repeat top left; }
		.affa-form-contact .submit-status .submit-status-text {
			position:absolute;
			top:50%;
			right:0px;
			left:0px;
			padding:0px 15px;
			margin-top:-25px;
		}
		.affa-form-contact .submit-status span {
			display:inline-block;
			background-color:#FFF;
			padding:14px 15px;
			border:1px solid #FFF;
			border-radius:3px;
		}
		.affa-form-contact .submit-status span.error {
			color:#d86c6c;
			background-color:#f6caca;
			border-color:#e9b8b8;
		}
		.affa-form-contact .submit-status span.success {
			color:#529552;
			background-color:#b9edb9;
			border-color:#a5dda5;
		}
			.affa-form-contact .submit-status span .fa { margin-right:5px; }
	.affa-form-contact input[type="text"], .affa-form-contact input[type="email"], .affa-form-contact textarea {
		width:100%;
		margin-bottom:20px;
	}
	.affa-form-contact textarea {
		height:140px;
		margin-bottom:12px;
	}
	.affa-form-contact input[type="text"].error, .affa-form-contact input[type="email"].error, .affa-form-contact textarea.error { background-color:#f9e4e4; }
	
.scrollup {
	visibility:hidden;
	position:fixed;
	right:15px;
	bottom:0px;
	width:48px;
	height:48px;
	font-size:0px;
	text-indent:-99999px;
	background:#202020 url('../images/icon-scrollup.png') no-repeat center center;
	z-index:1000;
	opacity:0;
	border-radius:4px;
	-webkit-transition:visibility .2s, bottom .2s, opacity .2s;
	transition:visibility .2s, bottom .2s, opacity .2s;
}
.scrollup.visible {
	visibility:visible;
	bottom:15px;
	opacity:.5;
}
.scrollup:hover { opacity:1; }

img.parallax-slider {
	visibility:hidden;
	opacity:0;
	-webkit-transition:visibility .3s, opacity .3s;
	transition:visibility .3s, opacity .3s;
}
img.parallax-slider.loaded, .ie img.parallax-slider, .ie9 img.parallax-slider {
	visibility:visible;
	opacity:1;
}



/* ========================= Header ========================= */

#header { position:relative; }
#header.page-header {
	padding-bottom:0px;
	margin:0px;
	border-bottom:0px;
	box-shadow:none;
}

/* Navigation Menu */
#header .navbar {
	position:fixed;
	top:0px;
	right:0px;
	left:0px;
	min-height:0px;
	font-family:Montserrat, Arial, serif;
	color:#FFF;
	padding:40px 0px;
	margin:0px;
	border:0px;
	z-index:100;
	border-radius:0px;
	-webkit-transition:all .2s ease;
	transition:all .2s ease;
}
#header .navbar.affix {
	background-color:rgba(0, 157, 224,.95);
	padding:15px 0px;
	z-index:1000;
}
.ie #header .navbar.affix { background:url(../images/ie-bg-navigation-affix.png) repeat top left; }
	#header .navbar-brand {
		height:auto;
		color:#FFF;
		padding:0px;
	}
	#header .navbar > .container .navbar-brand { margin:0px; }
		#header .navbar-brand img { height:40px; }
#header .nav {
	overflow:hidden;
	float:right;
	height:40px;
}
	#header .nav > li { padding:10px 25px 3px; }
	#header .nav > li:last-child { padding-right:0px; }
	#header .nav > li.menu-btn {
		padding-top:3px;
		padding-bottom:3px;
	}
		#header .nav > li > a {
			float:left;
			color:#FFF;
			font-size:15px;
			line-height:20px;
			background:none !important;
			padding:0px;
		}
		#header .navbar.affix .nav > li > a { color:#FFFFFF; }
		#header .navbar.affix .nav > li > a:hover, #header .navbar.affix .nav > li.active > a { color:#c3e240; }
		#header .nav > li > a:after {
			display:block;
			width:0px;
			height:2px;
			background-color: #a2c037;
			content:'';
			margin:5px auto 0px;
			-webkit-transition:width .2s ease;
			transition:width .2s ease;
		}
		#header .nav > li > a:hover:after, #header .nav > li.active > a:after { width:25px; }
		#header .navbar.affix .nav > li > a:after { display:none; }
		#header .nav > li.menu-btn > a {
			font-size:12px;
			line-height:1;
			font-weight:700;
			text-transform:uppercase;
			white-space:nowrap;
			background-color: #a2c037 !important;
			padding:11px 15px;
			border-radius:2px;
		}
		#header .nav > li.menu-btn > a:hover, #header .nav > li.menu-btn.active > a { background-color:#ec502c !important; }
		#header .navbar.affix .nav > li.menu-btn > a { color:#FFF; }
		#header .nav > li.menu-btn > a:after { display:none; }
#header .navbar-nav {
	margin-top:0px;
	margin-bottom:0px;
}

/* Navigation Mobile */
#navigation_mobile {
	display:none;
	font-size:14px;
	line-height:18px;
	text-align:center;
	font-weight:600;
	text-transform:uppercase;
}
	#navigation_mobile .nav-menu-links {
		display:none;
		background-color:#2a2a2a;
	}
	#navigation_mobile ul {
		padding:30px 100px;
		margin:0px;
	}
		#navigation_mobile ul li {
			list-style-type:none;
			padding:11px 0px;
		}
			#navigation_mobile ul li a {
				display:block;
				color:#a9a9a9;
			}
			#navigation_mobile ul li a:hover { color:#FFF; }
	#navigation_mobile .nav-menu-button {
		background-color:#202020;
		padding:15px 0px 14px;
	}
		#navigation_mobile .nav-menu-button button.nav-menu-toggle {
			color:#a9a9a9 !important;
			font-size:24px;
			line-height:1;
			background:none;
			padding:0px;
			border:0px;
			border-radius:0px;
			-webkit-transition:color .2s ease;
			transition:color .2s ease;
		}
		#navigation_mobile .nav-menu-button button.nav-menu-toggle:hover { color:#FFF !important; }
		
/* Header Content */
#header .header-content {
	position:relative;
	color:#FFF;
	text-align:center;
	background-color:rgba(0,0,0,.8);
	padding-top:240px;
}
.ie #header .header-content { background:url(../images/ie-bg-header-overlay.png) repeat top left; }
#header .header-content.header-overlay40 { background-color:rgba(0,0,0,.4); }
.ie #header .header-content.header-overlay40 { background:url(../images/ie-bg-header-overlay40.png) repeat top left; }
#header .header-content.header-overlay60 { background-color:rgba(0,0,0,.6); }
.ie #header .header-content.header-overlay60 { background:url(../images/ie-bg-header-overlay60.png) repeat top left; }
	#header .header-content h1, #header .header-content h2, #header .header-content h3, #header .header-content h4, #header .header-content h5, #header .header-content h6, #header .header-content a { color:#FFF; }
	#header .header-content .header-content-title h1 {
		font-size:44px;
		line-height:60px;
		font-weight:700;
		text-shadow:1px 1px 2px rgba(0,0,0,.5);
		margin:0px;
	}
	#header .header-content .header-content-title p {
		font-size:20px;
		line-height:28px;
		margin:25px 0px 0px;
	}
	#header .header-content .btn-section { margin-top:40px; }
	#header .header-content .btn-custom.btn-icon {
		position:relative;
		padding-left:65px;
	}
		#header .header-content .btn-custom.btn-icon .fa {
			position:absolute;
			top:0px;
			left:30px;
			font-size:18px;
			line-height:54px;
		}
	#header .header-content .header-content-feature {
		text-align:center;
		margin-bottom:30px;
	}
		#header .header-content .header-content-feature .fa {
			font-size:40px;
			margin-bottom:10px;
		}
		#header .header-content .header-content-feature p {
			font-size:13px;
			line-height:18px;
			margin:8px 0px 0px;
		}
	#header .header-content .header-content-overlay {
		background-color:rgba(0,0,0,.5);
		padding-top:30px;
		margin-top:140px;
	}
	.ie #header .header-content .header-content-overlay { background:url(../images/ie-bg-header-content-overlay.png) repeat top left; }
	
#header .page-header-overlay {
	color:#FFF;
	background-color:rgba(0,0,0,.8);
	padding:10px 0px 100px;
}
.ie #header .page-header-overlay { background:url(../images/ie-bg-header-overlay.png) repeat top left; }
#header .page-header-overlay.header-overlay40 { background-color:rgba(0,0,0,.4); }
.ie #header .page-header-overlay.header-overlay40 { background:url(../images/ie-bg-header-overlay40.png) repeat top left; }
#header .page-header-overlay.header-overlay60 { background-color:rgba(0,0,0,.6); }
.ie #header .page-header-overlay.header-overlay60 { background:url(../images/ie-bg-header-overlay60.png) repeat top left; }
	#header .page-header-overlay h1, #header .page-header-overlay h2, #header .page-header-overlay h3, #header .page-header-overlay h4, #header .page-header-overlay h5, #header .page-header-overlay h6, #header .page-header-overlay a { color:#FFF; }
	#header .page-header-text h1 {
		font-size:48px;
		line-height:60px;
		font-weight:700;
		margin:100px;
	}
	#header .page-header-text p {
		font-size:20px;
		line-height:32px;
		margin:20px 0px 0px;
	}



/* ========================= Elements ========================= */

.affa-feature-icon { margin-bottom:40px; }
	.affa-feature-icon img {
		
		margin-bottom:25px;
	}
	.affa-feature-icon h4 {
		font-size:22px;
		line-height:30px;
		margin:0px;
	}
	.affa-feature-icon p { margin:15px 0px 0px; }
	.affa-feature-icon .btn-section, .affa-feature-text .btn-section { margin-top:20px; }
	.affa-feature-icon .btn-custom, .affa-feature-text .btn-custom {
		font-size:12px;
		line-height:40px;
		padding:11px 20px 10px;
	}
	
.affa-feature-icon-left {
	position:relative;
	min-height:68px;
	padding-left:90px;
	margin-bottom:40px;
}
	.affa-feature-icon-left img {
		position:absolute;
		top:0px;
		left:0px;
		width:68px;
	}
	.affa-feature-icon-left h4 {
		font-size:20px;
		line-height:28px;
		margin:0px;
	}
	.affa-feature-icon-left p { margin:15px 0px 0px; }
	
.affa-feature-icon-center {
	text-align:center;
	margin-bottom:40px;
}
	.affa-feature-icon-center .fa {
		color:#009de0;
		font-size:60px;
		margin-bottom:25px;
	}
	.bg-dark .affa-feature-icon-center .fa, .bg-parallax .affa-feature-icon-center .fa { color:#FFF; }
	.affa-feature-icon-center h4 {
		font-size:22px;
		line-height:30px;
		margin:0px;
	}
	.affa-feature-icon-center p { margin:15px 0px 0px; }
	.affa-feature-icon-center .btn-custom {
		display:inline-block;
		font-size:12px;
		line-height:1;
		font-weight:700;
		padding:14.5px 20px 13.5px;
		margin-top:20px;
	}
	
.affa-feature-text {
	position:relative;
	min-height:48px;
	padding:25px 0px 0px 20px;
	margin-bottom:40px;
}
	.affa-feature-text .feature-text-number {
		position:absolute;
		top:0px;
		left:0px;
		color:#EEE;
		font-size:48px;
		line-height:1;
		font-weight:700;
	}
	.bg-dark .affa-feature-text .feature-text-number, .bg-parallax .affa-feature-text .feature-text-number { color:#4a4a4a; }
	.affa-feature-text h4 {
		position:relative;
		font-size:20px;
		line-height:28px;
		min-height:63px;
		padding-bottom:7px;
		margin:0px;
		z-index:100;
	}
	.affa-feature-text h4:after {
		position:absolute;
		bottom:0px;
		left:0px;
		width:25px;
		height:2px;
		background-color:#009de0;
		content:'';
	}
	.bg-dark .affa-feature-text h4:after, .bg-parallax .affa-feature-text h4:after { background-color:#FFF; }
	.affa-feature-text p { margin:25px 0px 0px; }
	
.affa-quote {
	text-align:center;
	padding:0px 200px;
}
	.affa-quote h4 {
		font-size:30px;
		line-height:38px;
		margin:0px;
	}
	.affa-quote p {
		font-size:20px;
		line-height:28px;
		margin:20px 0px 0px;
	}
	
.affa-counter {
	position:relative;
	min-height:76px;
	padding-left:70px;
	margin-bottom:40px;
}
	.affa-counter .fa {
		position:absolute;
		top:20px;
		left:0px;
		color:#009de0;
		font-size:36px;
	}
	.affa-counter h4 {
		font-size:40px;
		line-height:46px;
		font-weight:700;
		text-transform:uppercase;
		margin:0px;
	}
		.affa-counter h4 span { color:#202020; }
		.bg-dark .affa-counter h4 span, .bg-parallax .affa-counter h4 span { color:#FFF; }
	.affa-counter p {
		font-size:20px;
		line-height:28px;
		margin:5px 0px 0px;
	}
	
.affa-skill {
	position:relative;
	margin-bottom:40px;
}
	.affa-skill h4 {
		font-family:Poppins, Arial, sans-serif;
		font-size:18px;
		line-height:22px;
		text-align:center;
		font-weight:600;
		text-transform:uppercase;
		padding-right:30px;
		margin-bottom:11px;
	}
	.affa-skill .skill-number {
		position:absolute;
		top:0px;
		right:0px;
		font-family:Montserrat, Arial, sans-serif;
		color:#e4e4e4;
		font-size:30px;
		line-height:1;
		font-weight:700;
		margin:0px;
	}
	.bg-dark .affa-skill .skill-number, .bg-parallax .affa-skill .skill-number { color:#5a5a5a; }
	.affa-skill .skill-bar {
		position:relative;
		height:5px;
		font-size:0px;
		font-weight:700;
		text-indent:-99999px;
		background-color:#DDD;
	}
	.bg-dark .affa-skill .skill-bar, .bg-parallax .affa-skill .skill-bar { background-color:#555; }
		.affa-skill .skill-bar .skill-bar-process {
			position:absolute;
			top:-1px;
			bottom:-1px;
			left:0px;
			background-color:#009de0;
		}
		
.teams-row {
	overflow:hidden;
	padding:0px 15px;
}
	.carousel-slider.teams-row .slick-arrow { opacity:0; }
	.carousel-slider.teams-row:hover .slick-arrow { opacity:1; }
	.carousel-slider.teams-row .slick-prev, .carousel-slider.teams-row .slick-next {
		width:40px;
		background-color:#009de0;
		border-radius:50%;
	}
	.carousel-slider.teams-row .slick-prev:hover, .carousel-slider.teams-row .slick-next:hover { background-color:#202020; }
	.carousel-slider.teams-row .slick-prev { left:10px; }
	.carousel-slider.teams-row .slick-next { right:10px; }
	.teams-row .affa-team-col {
		float:left;
		width:25%;
		padding:0px 15px;
	}
.affa-team-profile {
	text-align:center;
	background-color:#FFF;
	margin-bottom:40px;
	border:1px solid #e9e9e9;
}
.teams-row .affa-team-profile { margin-bottom:0px; }
	.affa-team-profile img {
		width:120px;
		height:120px;
		margin:30px auto 0px;
		border-radius:50%;
	}
	.affa-team-profile .team-profile-name { padding:15px 10px 0px; }
		.affa-team-profile .team-profile-name h4 {
			font-size:20px;
			line-height:28px;
			margin:0px;
		}
		.bg-dark .affa-team-profile .team-profile-name h4, .bg-parallax .affa-team-profile .team-profile-name h4 { color:#202020; }
		.affa-team-profile .team-profile-name p {
			color:#009de0;
			font-size:15px;
			line-height:22px;
			margin:4px 0px 0px;
		}
	.affa-team-profile .team-profile-socials {
		overflow:hidden;
		background-color:#EEE;
		padding:8px 0px;
		margin-top:30px;
	}
		.affa-team-profile .team-profile-socials span {
			float:left;
			width:20%;
			padding-top:2px;
			border-right:1px solid #e0e0e0;
		}
		.affa-team-profile .team-profile-socials span:last-child { border-right:0px; }
		.affa-team-profile .team-profile-socials a {
			display:inline-block;
			color:#a9a9a9;
			font-size:18px;
			line-height:0;
		}
		.affa-team-profile .team-profile-socials a:hover { color:#009de0; }
		
.testimonials-container {
	width:940px;
	margin:0px auto;
}
.testimonials-wrap {
	color:#444;
	background-color:rgba(255,255,255,.7);
	padding:80px 150px;
	border-radius:6px;
}
.ie .testimonials-wrap { background:url(../images/ie-bg-testimonials-wrap.png) repeat top left; }
	.testimonials-wrap h1, .testimonials-wrap h2, .testimonials-wrap h3, .testimonials-wrap h4, .testimonials-wrap h5, .testimonials-wrap h6 { color:#202020; }
.affa-testimonials-avatars {
	text-align:center;
	margin-bottom:40px;
}
	.affa-testimonials-avatars .avatar-item {
		display:inline-block;
		overflow:hidden;
		position:relative;
		width:86px;
		height:86px;
		margin:7px -20px;
		z-index:100;
		border-radius:50%;
	}
	.affa-testimonials-avatars .avatar-item.active {
		width:100px;
		height:100px;
		margin-top:0px;
		margin-bottom:0px;
		z-index:200;
		box-shadow:1px 2px 1px rgba(0,0,0,.1);
	}
		.affa-testimonials-avatars .avatar-item .avatar-item-overlay {
			position:absolute;
			top:0px;
			right:0px;
			bottom:0px;
			left:0px;
			background-color:rgba(255,255,255,.5);
			-webkit-transition:visibility .3s ease-in-out, opacity .3s ease-in-out;
			transition:visibility .3s ease-in-out, opacity .3s ease-in-out;
		}
		.ie .affa-testimonials-avatars .avatar-item .avatar-item-overlay { background:url(../images/ie-bg-avatar-item-overlay.png) repeat top left; }
		.affa-testimonials-avatars .avatar-item.active .avatar-item-overlay {
			visibility:hidden;
			opacity:0;
		}
	.affa-testimonials-avatars img { width:100%; }
.carousel-slider.affa-testimonials-carousel { padding-bottom:60px; }
	.carousel-slider.affa-testimonials-carousel .slick-dots { bottom:0px; }
.testimonial-item { text-align:center; }
	.testimonial-item .testimonial-text {
		font-size:26px;
		line-height:38px;
	}
	.testimonial-item .testimonial-author { margin-top:25px; }
		.testimonial-item .testimonial-author h4 {
			font-size:20px;
			line-height:28px;
			font-weight:700;
			margin:0px;
		}
		.testimonial-item .testimonial-author p {
			color:#707070;
			font-size:18px;
			line-height:24px;
			margin:5px 0px 0px;
		}
		
.affa-faq { margin-bottom:40px; }
	.affa-faq h4 {
		font-size:20px;
		line-height:28px;
		font-weight:700;
		margin-bottom:20px;
	}
	
.call-action {
	position:relative;
	min-height:54px;
	padding-right:220px;
}
	.call-action h4 {
		font-size:22px;
		line-height:28px;
		font-weight:700;
		margin-bottom:0px;
	}
	.call-action p { margin:10px 0px 0px; }
	.call-action .btn-section {
		position:absolute;
		top:0px;
		right:0px;
		width:200px;
		text-align:right;
	}
	
.clients-row { overflow:hidden; }
.affa-client-logo {
	position:relative;
	text-align:center;
	padding:20px;
}
.clients-row .affa-client-logo {
	float:left;
	width:33.33%;
	border-right:1px solid #f0f0f0;
	border-bottom:1px solid #f0f0f0;
}
.clients-row .affa-client-logo.no-border-right, .clients-row .affa-client-logo.no-border-right-sm { border-right:0px; }
.clients-row .affa-client-logo.no-border-bottom, .clients-row .affa-client-logo.no-border-bottom-sm { border-bottom:0px; }
	.affa-client-logo .logo-overlay {
		position:absolute;
		top:0px;
		right:0px;
		bottom:0px;
		left:0px;
		background-color:rgba(255,255,255,.75);
		-webkit-transition:visibility .2s ease-in-out, opacity .2s ease-in-out;
		transition:visibility .2s ease-in-out, opacity .2s ease-in-out;
	}
	.ie .affa-client-logo .logo-overlay { background:url(../images/ie-bg-client-logo-overlay.png) repeat top left; }
	.affa-client-logo:hover .logo-overlay {
		visibility:hidden;
		opacity:0;
	}
	.affa-client-logo img { max-width:100%; }
	
.isotope-menu {
	text-align:center;
	margin-bottom:30px;
}
	.isotope-menu a {
		display:inline-block;
		color:#202020;
		font-size:18px;
		line-height:24px;
		font-weight:700;
		margin:0px 30px 10px;
	}
	.bg-dark .isotope-menu a, .bg-parallax .isotope-menu a { color:#FFF; }
	.isotope-menu a:hover, .isotope-menu a.active { color:#009de0; }
	.bg-dark .isotope-menu a:hover, .bg-dark .isotope-menu a.active, .bg-parallax .isotope-menu a:hover, .bg-parallax .isotope-menu a.active { color:#FFF; }
	.isotope-menu a:after {
		display:block;
		width:0px;
		height:2px;
		background-color:#009de0;
		content:'';
		margin:5px auto 0px;
		-webkit-transition:width .2s ease;
		transition:width .2s ease;
	}
	.bg-dark .isotope-menu a:after, .bg-parallax .isotope-menu a:after { background-color:#FFF; }
	.isotope-menu a.active:after { width:25px; }
	
.isotope-row {
	-webkit-transition:width .4s ease, height .4s ease;
	transition:width .4s ease, height .4s ease;
}
.ie .isotope-row {
	margin-right:-1px;
	margin-left:-1px;
}
.isotope-row:before, .isotope-row:after {
	display:table;
	content:'';
}
.isotope-row:after { clear:both; }
	.isotope-row .item {
		float:left;
		width:25%;
		z-index:2;
	}
	.isotope-row .item.isotope-hidden {
		pointer-events:none;
		z-index:1;
	}
	
.embed-map {
	height:340px;
	background-color:#f4f4f4;
}
.map-address {
	font-family:Montserrat, Arial, sans-serif;
	color:#ec502c;
	font-size:12px;
	line-height:18px;
	text-align:right;
	font-weight:400;
	margin:5px 0px 0px;
}



/* ========================= Footer ========================= */

#footer {
	color:#FFF;
	background-color:#333;
	padding-top:80px;
}
	#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6, #footer a { color:#FFF; }
	#footer a:hover { color:#a9a9a9; }
	#footer .widget { margin-bottom:40px; }
		#footer .widget .widget-title {
			font-size:18px;
			line-height:24px;
			font-weight:700;
			text-transform:uppercase;
			margin-bottom:30px;
		}
		#footer .widget ul { padding-left:0px; }
			#footer .widget ul li { list-style-type:none; }
		#footer .widget .footer-logo {
			max-height:40px;
			margin-bottom:14px;
		}
		#footer .widget .footer-socials a {
			font-size:20px;
			line-height:38px;
			margin-right:25px;
		}
		#footer .widget .footer-socials a:hover { color:#a9a9a9; }
	#footer .footer-copyright {
		text-align:center;
		background-color:#202020;
		padding:25px 0px;
	}
		#footer .footer-copyright p { margin:0px; }
		#footer .footer-copyright a {
			color:#009de0;
			font-weight:600;
		}
		#footer .footer-copyright a:hover { color:#FFF; }



/* ========================= Customize ========================= */

#customize {
	position:fixed;
	top:70px;
	left:-150px;
	font-size:14px;
	line-height:20px;
	font-weight:400;
	z-index:8000;
	-webkit-transition:left .3s ease;
	transition:left .3s ease;
}
#customize.in { left:0px; }
	#customize .popup-open {
		position:absolute;
		top:0px;
		right:-50px;
		width:50px;
		height:50px;
		color:#909090;
		font-size:24px;
		line-height:50px;
		text-align:center;
		background-color:rgba(16,16,16,.8);
		border-radius:0px 4px 4px 0px;
		-webkit-transition:color .2s ease, background-color .2s ease;
		transition:color .2s ease, background-color .2s ease;
	}
	.ie #customize .popup-open { background-color:#101010; }
	#customize .popup-open:hover {
		color:#FFF;
		background-color:#101010;
		cursor:pointer;
	}
	#customize .wrap-customize {
		width:150px;
		color:#7a7a7a;
		background-color:rgba(16,16,16,.8);
		padding:10px 15px;
		border-radius:0px 0px 4px 0px;
		-webkit-transition:background-color .2s ease;
		transition:background-color .2s ease;
	}
	.ie #customize .wrap-customize, #customize:hover .popup-open, #customize:hover .wrap-customize { background-color:#101010; }
		#customize .wrap-customize h5 {
			color:#a9a9a9;
			font-size:16px;
			line-height:22px;
			font-weight:700;
			cursor:default;
			padding-bottom:4px;
			margin-bottom:10px;
			border-bottom:1px dotted #606060;
		}
		#customize .wrap-customize a, #customize .wrap-customize a:visited { color:#7a7a7a; }
		#customize .wrap-customize a:hover { color:#FFF; }
		#customize .wrap-customize .customize-panel { padding:10px 0px; }
		#customize .wrap-customize .customize-list-link a {
			display:block;
			margin-bottom:4px;
		}
		#customize .wrap-customize .customize-list-link a:last-child { margin-bottom:0px; }
			#customize .wrap-customize .customize-list-link a .fa { margin-right:5px; }
		#customize .customize-list-color {
			overflow:hidden;
			margin:-3px;
		}
			#customize .customize-list-color a {
				float:left;
				width:36px;
				height:36px;
				margin:3px;
				-webkit-transition:opacity .2s ease-in-out;
				transition:opacity .2s ease-in-out;
			}
			#customize .customize-list-color a:hover { opacity:0.8; }



/* ========================= Media Queries ========================= */

@media (min-width: 992px) and (max-width: 1199px) {
	
	.no-padding-top-md { padding-top:0px !important; }
	.no-padding-right-md { padding-right:0px !important; }
	.no-padding-bottom-md  { padding-bottom:0px !important; }
	.no-padding-left-md { padding-left:0px !important; }
	
	.padding-top10-md { padding-top:20px !important; }
	.padding-top20-md { padding-top:20px !important; }
	.padding-top30-md { padding-top:30px !important; }
	.padding-top40-md { padding-top:40px !important; }
	.padding-top50-md { padding-top:50px !important; }
	.padding-top60-md { padding-top:60px !important; }
	.padding-top70-md { padding-top:70px !important; }
	.padding-top80-md { padding-top:80px !important; }
	
	.padding-bottom10-md { padding-bottom:20px !important; }
	.padding-bottom20-md { padding-bottom:20px !important; }
	.padding-bottom30-md { padding-bottom:30px !important; }
	.padding-bottom40-md { padding-bottom:40px !important; }
	.padding-bottom50-md { padding-bottom:50px !important; }
	.padding-bottom60-md { padding-bottom:60px !important; }
	.padding-bottom70-md { padding-bottom:70px !important; }
	.padding-bottom80-md { padding-bottom:80px !important; }
	
	.no-margin-top-md { margin-top:0px !important;	}
	.no-margin-right-md { margin-right:0px !important;	}
	.no-margin-bottom-md  { margin-bottom:0px !important; }
	.no-margin-left-md { margin-left:0px !important; }
	
	.margin-top10-md { margin-top:20px !important; }
	.margin-top20-md { margin-top:20px !important; }
	.margin-top30-md { margin-top:30px !important; }
	.margin-top40-md { margin-top:40px !important; }
	.margin-top50-md { margin-top:50px !important; }
	.margin-top60-md { margin-top:60px !important; }
	.margin-top70-md { margin-top:70px !important; }
	.margin-top80-md { margin-top:80px !important; }
	
	.margin-bottom10-md { margin-bottom:20px !important; }
	.margin-bottom20-md { margin-bottom:20px !important; }
	.margin-bottom30-md { margin-bottom:30px !important; }
	.margin-bottom40-md { margin-bottom:40px !important; }
	.margin-bottom50-md { margin-bottom:50px !important; }
	.margin-bottom60-md { margin-bottom:60px !important; }
	.margin-bottom70-md { margin-bottom:70px !important; }
	.margin-bottom80-md { margin-bottom:80px !important; }
	
	.img-overlay .overlay-masked { padding:15px; }
	.img-overlay .overlay-masked h4 {
		font-size:18px;
		line-height:24px;
	}
	.img-overlay .overlay-masked p {
		font-size:14px;
		line-height:20px;
	}
	
	.post-heading-center { padding:0px 60px; }
	
	#header .nav > li {
		padding-left:15px;
		padding-right:15px;
	}
	#header .nav > li.menu-btn > a {
		padding-right:12px;
		padding-left:12px;
	}
	
	#header .header-content .header-content-title h1 {
		font-size:40px;
		line-height:54px;
	}
	#header .header-content .header-content-feature p { font-size:12px; }
	
	#header .page-header-overlay { padding:160px 0px 80px; }
	#header .page-header-text h1 {
		font-size:42px;
		line-height:54px;
	}
	#header .page-header-text p {
		font-size:18px;
		line-height:28px;
	}
	
	.affa-quote { padding:0px 100px; }
	
	.affa-counter { padding-left:60px; }
	
	.affa-skill h4 {
		text-align:left;
		padding:0px;
	}
	
	.isotope-menu a {
		margin-right:20px;
		margin-left:20px;
	}
	
}

@media (min-width: 768px) and (max-width: 991px) {
	
	.no-padding-top-sm { padding-top:0px !important; }
	.no-padding-right-sm { padding-right:0px !important; }
	.no-padding-bottom-sm  { padding-bottom:0px !important; }
	.no-padding-left-sm { padding-left:0px !important; }
	
	.padding-top10-sm { padding-top:10px !important; }
	.padding-top20-sm { padding-top:20px !important; }
	.padding-top30-sm { padding-top:30px !important; }
	.padding-top40-sm { padding-top:40px !important; }
	.padding-top50-sm { padding-top:50px !important; }
	.padding-top60-sm { padding-top:60px !important; }
	.padding-top70-sm { padding-top:70px !important; }
	.padding-top80-sm { padding-top:80px !important; }
	
	.padding-bottom10-sm { padding-bottom:10px !important; }
	.padding-bottom20-sm { padding-bottom:20px !important; }
	.padding-bottom30-sm { padding-bottom:30px !important; }
	.padding-bottom40-sm { padding-bottom:40px !important; }
	.padding-bottom50-sm { padding-bottom:50px !important; }
	.padding-bottom60-sm { padding-bottom:60px !important; }
	.padding-bottom70-sm { padding-bottom:70px !important; }
	.padding-bottom80-sm { padding-bottom:80px !important; }
	
	.no-margin-top-sm { margin-top:0px !important;	}
	.no-margin-right-sm { margin-right:0px !important;	}
	.no-margin-bottom-sm  { margin-bottom:0px !important; }
	.no-margin-left-sm { margin-left:0px !important; }
	
	.margin-top10-sm { margin-top:10px !important; }
	.margin-top20-sm { margin-top:20px !important; }
	.margin-top30-sm { margin-top:30px !important; }
	.margin-top40-sm { margin-top:40px !important; }
	.margin-top50-sm { margin-top:50px !important; }
	.margin-top60-sm { margin-top:60px !important; }
	.margin-top70-sm { margin-top:70px !important; }
	.margin-top80-sm { margin-top:80px !important; }
	
	.margin-bottom10-sm { margin-bottom:10px !important; }
	.margin-bottom20-sm { margin-bottom:20px !important; }
	.margin-bottom30-sm { margin-bottom:30px !important; }
	.margin-bottom40-sm { margin-bottom:40px !important; }
	.margin-bottom50-sm { margin-bottom:50px !important; }
	.margin-bottom60-sm { margin-bottom:60px !important; }
	.margin-bottom70-sm { margin-bottom:70px !important; }
	.margin-bottom80-sm { margin-bottom:80px !important; }
	
	.img-overlay .overlay-masked { padding:15px; }
	.img-overlay .overlay-masked h4 {
		font-size:16px;
		line-height:22px;
	}
	.img-overlay .overlay-masked p { display:none; }
	
	.post-heading-center { padding:0px; }
	
	#header .nav > li {
		padding-left:5px;
		padding-right:5px;
	}
	#header .nav > li.menu-btn > a {
		padding-right:8px;
		padding-left:8px;
	}
	
	#header .header-content .header-content-title h1 {
		font-size:36px;
		line-height:50px;
	}
	#header .header-content .header-content-title p {
		font-size:18px;
		line-height:26px;
	}
	
	#header .page-header-overlay { padding:140px 0px 60px; }
	#header .page-header-text h1 {
		font-size:36px;
		line-height:46px;
	}
	#header .page-header-text p {
		font-size:16px;
		line-height:26px;
	}
	
	.affa-feature-icon-left {
		min-height:54px;
		padding-left:70px;
	}
	.affa-feature-icon-left img { width:54px; }
	
	.affa-quote { padding:0px; }
	
	.affa-counter {
		position:static;
		min-height:0px;
		text-align:center;
		padding-left:0px;
	}
	.affa-counter .fa {
		position:static;
		top:auto;
		left:auto;
		font-size:48px;
		margin-bottom:20px;
	}
	
	.affa-skill h4 {
		text-align:left;
		padding:0px;
	}
	
	.testimonials-container { width:720px; }
	.testimonials-wrap { padding:60px 40px; }
	
	.isotope-menu a {
		margin-right:10px;
		margin-left:10px;
	}
	
}

@media (max-width: 767px) {
	
	.no-padding-top-xs { padding-top:0px !important; }
	.no-padding-right-xs { padding-right:0px !important; }
	.no-padding-bottom-xs  { padding-bottom:0px !important; }
	.no-padding-left-xs { padding-left:0px !important; }
	
	.padding-top10-xs { padding-top:10px !important; }
	.padding-top20-xs { padding-top:20px !important; }
	.padding-top30-xs { padding-top:30px !important; }
	.padding-top40-xs { padding-top:40px !important; }
	.padding-top50-xs { padding-top:50px !important; }
	.padding-top60-xs { padding-top:60px !important; }
	.padding-top70-xs { padding-top:70px !important; }
	.padding-top80-xs { padding-top:80px !important; }
	
	.padding-bottom10-xs { padding-bottom:10px !important; }
	.padding-bottom20-xs { padding-bottom:20px !important; }
	.padding-bottom30-xs { padding-bottom:30px !important; }
	.padding-bottom40-xs { padding-bottom:40px !important; }
	.padding-bottom50-xs { padding-bottom:50px !important; }
	.padding-bottom60-xs { padding-bottom:60px !important; }
	.padding-bottom70-xs { padding-bottom:70px !important; }
	.padding-bottom80-xs { padding-bottom:80px !important; }
	
	.no-margin-top-xs { margin-top:0px !important;	}
	.no-margin-right-xs { margin-right:0px !important;	}
	.no-margin-bottom-xs  { margin-bottom:0px !important; }
	.no-margin-left-xs { margin-left:0px !important; }
	
	.margin-top10-xs { margin-top:10px !important; }
	.margin-top20-xs { margin-top:20px !important; }
	.margin-top30-xs { margin-top:30px !important; }
	.margin-top40-xs { margin-top:40px !important; }
	.margin-top50-xs { margin-top:50px !important; }
	.margin-top60-xs { margin-top:60px !important; }
	.margin-top70-xs { margin-top:70px !important; }
	.margin-top80-xs { margin-top:80px !important; }
	
	.margin-bottom10-xs { margin-bottom:10px !important; }
	.margin-bottom20-xs { margin-bottom:20px !important; }
	.margin-bottom30-xs { margin-bottom:30px !important; }
	.margin-bottom40-xs { margin-bottom:40px !important; }
	.margin-bottom50-xs { margin-bottom:50px !important; }
	.margin-bottom60-xs { margin-bottom:60px !important; }
	.margin-bottom70-xs { margin-bottom:70px !important; }
	.margin-bottom80-xs { margin-bottom:80px !important; }
	
	.img-overlay .overlay-masked { padding:15px; }
	.img-overlay .overlay-masked h4 {
		font-size:18px;
		line-height:24px;
	}
	.img-overlay .overlay-masked p {
		font-size:14px;
		line-height:20px;
	}
	
	.post-heading-center { padding:0px; }
	
	#header .navbar { display:none; }
	#navigation_mobile { display:block; }
	
	#header .header-content { padding-top:80px; }
	#header .header-content .header-content-title h1 {
		font-size:36px;
		line-height:50px;
	}
	#header .header-content .header-content-title p {
		font-size:18px;
		line-height:26px;
	}
	#header .header-content .header-content-feature p {
		font-size:14px;
		line-height:20px;
	}
	#header .header-content .header-content-overlay { margin-top:80px; }
	
	#header .page-header-overlay { padding:60px 0px; }
	#header .page-header-text h1 {
		font-size:34px;
		line-height:44px;
	}
	#header .page-header-text p {
		font-size:15px;
		line-height:24px;
	}
	
	.affa-feature-icon img {
		width:68px;
		height:auto;
	}
	
	.affa-feature-text h4 { min-height:0px; }
	
	.affa-quote { padding:0px; }
	
	.affa-counter {
		position:static;
		min-height:0px;
		text-align:center;
		padding-left:0px;
	}
	.affa-counter .fa {
		position:static;
		top:auto;
		left:auto;
		font-size:48px;
		margin-bottom:20px;
	}
	
	.teams-row { padding:0px; }
	.carousel-slider.teams-row .slick-prev { left:5px; }
	.carousel-slider.teams-row .slick-next { right:5px; }
	
	.testimonials-container {
		width:100%;
		padding:0px 15px;
	}
	.testimonials-wrap { padding:60px 40px; }
	
	.call-action {
		position:static;
		min-height:0px;
		text-align:center;
		padding-right:0px;
	}
	.call-action .btn-section {
		position:static;
		top:auto;
		right:auto;
		width:auto;
		text-align:center;
		margin-top:20px;
	}
	
	.clients-row .affa-client-logo { width:50%; }
	.clients-row .affa-client-logo.no-border-right-sm { border-right:1px solid #f0f0f0; }
	.clients-row .affa-client-logo.no-border-bottom-sm { border-bottom:1px solid #f0f0f0; }
	.clients-row .affa-client-logo.no-border-right-xs { border-right:0px; }
	.clients-row .affa-client-logo.no-border-bottom-xs { border-bottom:0px; }
	
	.isotope-menu a {
		display:block;
		margin-right:0px;
		margin-left:0px;
	}
	.isotope-row .item { width:50%; }
	
	#customize { top:54px; }
	
}

@media (max-width: 600px) {
	
	.testimonial-item .testimonial-text {
		font-size:22px;
		line-height:34px;
	}
	.testimonial-item .testimonial-author h4 {
		font-size:18px;
		line-height:26px;
	}
	.testimonial-item .testimonial-author p {
		font-size:16px;
		line-height:22px;
	}
	
}

@media (max-width: 480px) {
	
	.btn-play {
		width:80px;
		height:80px;
		background-image:url(../images/btn-play-mobile.png);
	}
	
	#navigation_mobile ul {
		padding-left:15px;
		padding-right:15px;
	}
	
	#header .header-content .header-content-title h1 {
		font-size:30px;
		line-height:42px;
	}
	#header .header-content .header-content-title p {
		font-size:16px;
		line-height:24px;
	}
	
	#header .page-header-text h1 {
		font-size:26px;
		line-height:34px;
	}
	#header .page-header-text p {
		font-size:14px;
		line-height:22px;
	}
	
	.affa-quote h4 {
		font-size:24px;
		line-height:32px;
	}
	.affa-quote p {
		font-size:18px;
		line-height:26px;
	}
	
	.affa-testimonials-avatars { margin-bottom:25px; }
	.affa-testimonials-avatars .avatar-item {
		width:64px;
		height:64px;
		margin:8px -15px;
	}
	.affa-testimonials-avatars .avatar-item.active {
		width:80px;
		height:80px;
	}
	.carousel-slider.affa-testimonials-carousel { padding-bottom:40px; }
	.testimonials-wrap { padding:40px 20px; }
	.testimonial-item .testimonial-text {
		font-size:18px;
		line-height:28px;
	}
	.testimonial-item .testimonial-author h4 {
		font-size:16px;
		line-height:24px;
	}
	.testimonial-item .testimonial-author p {
		font-size:15px;
		line-height:22px;
	}
	
	.isotope-row .item { width:100%; }
	
}

@media (max-width: 400px) {
	
	.list-row { margin:0px; }
	.list-row .list-col {
		float:none;
		width:auto;
		padding:0px;
	}
	
	.affa-feature-icon { text-align:center; }
	
	.affa-feature-icon-left {
		position:static;
		min-height:0px;
		text-align:center;
		padding-left:0px;
	}
	.affa-feature-icon-left img {
		position:static;
		top:auto;
		left:auto;
		margin-bottom:25px;
	}
	
	.affa-skill h4 {
		text-align:left;
		padding:0px;
	}
	
	.clients-row .affa-client-logo {
		width:100%;
		border:0px;
	}
	.clients-row .affa-client-logo:first-child { padding-top:0px; }
	.clients-row .affa-client-logo:last-child { padding-bottom:0px; }
	.clients-row .affa-client-logo.no-border-right-sm, .clients-row .affa-client-logo.no-border-bottom-sm { border:0px; }
	
}
