{% extends 'app/panel.html'%}
 {% load staticfiles %}
 {% load widget_tweaks %}
 {% load blogtag %}
{% block tittle-view %}
<title>Borrar Post {{object.id}} | Coreducar</title>
{% endblock %}
{% block titulo-view%}
<h3>Borrar Post del blog</h3>	
{% endblock %}
{% block body-view%} <br><br><br>
	<div class="col-sm-12">
		<div class="row">
			<div class="panel panel-primary" data-collapsed="0">
				<div class="panel-heading">
					<div class="panel-title">
						Borrar Post ({{object.titulo}})
					</div>
					<div class="panel-options">
						<a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
					</div>
				</div>
				<div class="panel-body">

					<form method="POST">{% csrf_token %}
                
                  <center>
                  <div class=" alert-danger col-md-6">

                  <h3>¿ Desea realmente eliminar el Post "{{object.titulo}}" con ({{object.answer_set|get_count_comentarios}}) Comentarios ?</h3>
                  
                  </div></center><br>
                  <div class="row col-md-12">
                  <center><br>
                  <input type="submit" class="btn btn-danger btn-flat btn-lg" value="Confirmar">
                  <a class="btn btn-info btn-flat btn-lg" href="{% url 'ver_posts' %}">Cancelar</a>
                  </form>
				</div>
			</div>
		</div>
		<link rel="stylesheet" href="{% static "Panel/css/font-icons/font-awesome/css/font-awesome.min.css"%}">

{% endblock %}