{% extends 'blog/index.html'%}{% load widget_tweaks %}{% load staticfiles %}
{% block title-view %}
<title>{{tutorial.titulo}} | Blog Tecnix</title>
<meta property="og:image" content="{{tutorial.imagen.url}}" />
<meta property="og:url"           content="{{ request.get_host }}/blog/tutorial/{{tutorial.slug}}" />
    <meta property="og:type"          content="article" />
    <meta property="og:title"         content="{{tutorial.titulo}}" />
    <meta property="og:description"   content="{{tutorial.description}}" />
{% endblock %}{% load blogtag %}
{% block body-view %}
    <div class="container singlefullwidth sitecontainer single-wrapper bgw">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 m22 single-post">
                <div class="widget">
                    <div class="large-widget m30">
                        <div class="post clearfix">

                            <div class="title-area text-center">
                                <div class="bread">
                                    <ol class="breadcrumb">
                                        <li><a href="{% url 'home_blog' %}">Inicio</a></li>
                                        <li class="">{% for categoria in tutorial.categoria.all %}
                                        {% if forloop.first %}
                                            {{categoria}}
                                        {% endif %}
                                        
                                        {% endfor %}</li>
                                        <li class="active">{{tutorial.titulo}}</li>
                                    </ol>
                                </div><!-- end bread -->
                                <div class="colorfulcats">
                                {% for categoria in tutorial.categoria.all %}
                                        <a href="#"><span class="label label-primary">{{categoria}}</span></a>
                                        
                                        {% endfor %}
                                    
                                    
                                </div>
                                <h3>{{tutorial.titulo}}</h3>
                                <h4>
                                Calificación:
                                {% if calificacion_total == 5 %}

                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        {% elif calificacion_total < 5 and calificacion_total > 4 %}
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                       {% elif calificacion_total == 4 %}
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        {% elif calificacion_total < 4 and calificacion_total > 3 %}
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                      {% elif calificacion_total == 3 %}
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        {% elif calificacion_total < 3 and calificacion_total > 2 %}
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                       {% elif calificacion_total == 2 %}
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        {% elif calificacion_total < 2 and calificacion_total > 1 %}
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                       {% elif calificacion_total == 1 %}
                                                        <i class="fa fa-star"></i>

                                                    {% endif %}
                                                    - {{calificacion_total|floatformat}}
                                                </h4>

                                <div class="large-post-meta">
                                    <i class="fa fa-user"></i> {{tutorial.user}}</span>
                                    <small>&#124;</small>
                                    <span><a href="#"><i class="fa fa-clock-o"></i> {{tutorial.created|date:"d M Y"}}</a></span>
                                    <small class="hidden-xs">&#124;</small>
                                    <span class="hidden-xs" title="{{calificaciones.count}} Calificaciones"><a href="#"><i class="fa fa-star-o"></i> {{calificaciones.count}}</a></span>
                                    <small class="hidden-xs">&#124;</small>
                                    <span class="hidden-xs" title="{{tutorial.vistas}} Visitas"><a href="#"><i class="fa fa-eye"></i> {{tutorial.vistas}}</a></span>
                                </div><!-- end meta -->

                                <div class="post-sharing">
                                    <ul class="list-inline">
                                        <li>
                                        <div class="fb-share-button" data-href="http://{{request.get_host}}/blog/tutorial/{{tutorial.slug}}" data-layout="button_count" data-size="small" data-mobile-iframe="true">
                                        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F{{ request.get_host }}%2Fblog%2Ftutorial%2F{{tutorial.slug}}%2F&amp;src=sdkpreparse" class="fb-button btn btn-primary" id="share_button_facebook" target="_blank"><i class="fa fa-facebook"></i> <span class="hidden-xs">Compartir en Facebook</span></a>
                                        </div>

                                       
                                        </li>
                                        <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="hidden-xs">Tweetear en Twitter</span></a></li>
                                        <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i><span class="hidden-xs"> Compartir en Google+</span></a></li>
                                    </ul>
                                </div><!-- end post-sharing -->
                            </div><!-- /.pull-right -->

                            <div class="post-media">
                                <a href="#">
                                    <img alt="imgen del tutorial" src="{{tutorial.imagen.url}}" class="img-responsive">
                                </a>
                            </div>

                        </div><!-- end post -->
                        <div class="row text-center">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{tutorial.video_id}}" frameborder="0" allowfullscreen></iframe>
                        </div>

                        <div class="post-desc">
                            {{tutorial.description}}
                            <hr>

                            <div class="post-sharing">
                                <ul class="list-inline">
                                    <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="hidden-xs">Share on Facebook</span></a></li>
                                    <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="hidden-xs">Tweet on Twitter</span></a></li>
                                    <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div><!-- end post-sharing -->
                        </div><!-- end post-desc -->

                       

                        <div class="row m22 related-posts">
                            <div class="col-md-12">
                                <div class="widget">
                                    <div class="widget-title">
                                        <h4>También te podría gustar leer... </h4>
                                        <hr>
                                    </div><!-- end widget-title -->

                                    <div class="review-posts row m30">

                                        {% for tutorial2 in tutoriales %}
                                        {% if not forloop.first %}
                                        <div class="post-review col-md-4 col-sm-12 col-xs-12">
                                        <div class="post-media entry">
                                                <img src="{{tutoriales2.imagen.url}}" alt="" class="img-responsive">
                                                <div class="magnifier">
                                                    <div class="hover-title-left">
                                                        <span><a href="#" title=""><i class="fa fa-folder-open"></i> {{tutorial2.titulo}}</a></span>
                                                    </div><!-- end title -->
                                                    <div class="hover-title">
                                                        <span><a href="#" title=""><i class="fa fa-comments-o"></i> {{tutorial2.calificacion_tuto_set|get_count_calificaciones}}</a></span>
                                                    </div><!-- end title -->
                                                </div><!-- end magnifier -->
                                            </div><!-- end media -->
                                            <div class="post-title">
                                                <h3><a href="/blog/tutorial/{{ tutorial2.slug }}">{{tutorial2.titulo}}</a></h3>
                                            </div><!-- end post-title -->
                                        </div><!-- end post-review -->
                                        {% endif %}
                                        {% endfor %}

                                        
                                    </div><!-- end review-post -->
                                </div><!-- end widget -->   
                            </div><!-- end col -->
                        </div><!-- end row -->

                        <div id="comments" class="row">
                            <div class="col-md-12">
                                <div class="widget">
                                    <div class="widget-title">
                                        <h4>Calificaciones ({{calificaciones.count}})</h4>
                                        <hr>
                                    </div><!-- end widget-title -->

                                    <div class="comments">
                                        <div class="well">
                                            {% if calificaciones %}
                                            {% for comentario in calificaciones %}

                                            <div class="media">
                                                
                                                <div class="media-body">
                                                    <h4 class="media-heading">{{comentario.usuario}}</h4>
                                                    {% if comentario.puntuacion == 5 %}
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                       {% elif comentario.puntuacion == 4 %}
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                      {% elif comentario.puntuacion == 3 %}
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                       {% elif comentario.puntuacion == 2 %}
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                       {% elif comentario.puntuacion == 1 %}
                                                        <i class="fa fa-star"></i>

                                                    {% endif %} <br>
                                                    <div class="time-comment clearfix">
                                                    
                                                        <small class="pull-left">{{comentario.fecha|date:"d M Y P"}}</small>
                                                    </div><!-- end time-comment -->
                                                    <p>{{comentario.comentario}}</p>
                                                </div>
                                            </div><!-- end media -->
                                            {% endfor %}

                                            {% endif %}


                                            
                                        </div><!-- end well -->
                                    </div><!-- end collapse -->
                                </div><!-- end widget -->   
                            </div><!-- end col -->
                        </div><!-- end row -->

                        <div class="row">
                            <div class="col-md-12">
                                <div class="widget">
                                    <div class="widget-title">
                                        <h4>Déjanos tu calificación...</h4>
                                        <hr>
                                    </div><!-- end widget-title -->

                                   <div class="commentform">
                                        <form class="row"method="POST">{% csrf_token %}
                                        <div class="col-md-12 col-sm-12">
                                        Puntuación:
                                        <label><input type="radio" name="calificacion" id="optionsRadios1" value="1"> Malo</label>&nbsp;&nbsp;
                                      <label><input type="radio" name="calificacion" id="optionsRadios1" value="2"> Regular</label>&nbsp;&nbsp;
                                      <label><input type="radio" name="calificacion" id="optionsRadios1" value="3"> Bueno</label>&nbsp;&nbsp;
                                      <label><input type="radio" name="calificacion" id="optionsRadios1" value="4"> Muy Bueno</label>&nbsp;&nbsp;
                                      <label><input type="radio" name="calificacion" id="optionsRadios1" value="5"> Excelente</label>
                                      </div>
                                            <div class="col-md-12 col-sm-12">
                                                <label>Comentario: <span class="required">*</span></label>
                                                <textarea class="form-control" placeholder="" name="description"></textarea>
                                            </div>
                                            {% if not user.is_authenticated %}
                                                
                                            
                                            <div class="col-md-4 col-sm-12">
                                                <label>Tu nombre: <span class="required">*</span></label>
                                                <input type="text" class="form-control" placeholder="" name="user">
                                            </div>
                                            {% endif %}
                                            

                                            <div class="col-md-12 col-sm-12">
                                                <input type="submit" value="Calificar" class="btn btn-primary" />
                                            </div>
                                        </form>
                                    </div><!-- end newsletter -->
                                </div><!-- end widget -->   
                            </div><!-- end col -->
                        </div><!-- end row -->

                    </div><!-- end large-widget -->
                </div><!-- end widget -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->


{% endblock %}