{% extends 'app/panel.html'%}
 {% load staticfiles %}
 {% load widget_tweaks %}
 {% load blogtag %}
{% block tittle-view %}
<title>Editar Categoría {{object.id}} | Coreducar</title>
{% endblock %}
{% block titulo-view%}
<h3>Editar Categoría del blog</h3>	
{% endblock %}
{% block body-view%} <br><br><br>
	<div class="col-sm-12">
		<div class="row">
			<div class="panel panel-primary" data-collapsed="0">
				<div class="panel-heading">
					<div class="panel-title">
						Editar Categoría ({{object.nombre}})
					</div>
					<div class="panel-options">
						<a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
					</div>
				</div>
				<div class="panel-body">

					<form role="form" method="POST" class="form-horizontal form-groups-bordered">
						{% csrf_token %}
						{% if form.errors %}
						<span class="alert-danger">{{form.errors}}</span>
						{% endif %}

						<div class="form-group">
							<label class="col-sm-3 control-label">Nombre de la Categoría</label>
							
							<div class="col-sm-5">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-tag"></i></span>
									{% render_field form.nombre class+="form-control" name+="nombre"%}
								</div>
							</div>
						</div>
						<div class="text-center"><br>
							<button type="submit" class="btn btn-lg btn-blue center">Guargar</button>
						</div>
						
					</form>
				</div>
			</div>
		</div>
		<link rel="stylesheet" href="{% static "Panel/css/font-icons/font-awesome/css/font-awesome.min.css"%}">

{% endblock %}