{% extends 'app/panel.html'%}
 {% load staticfiles %}
 {% load widget_tweaks %}
{% block tittle-view %}
<title>Editar post {{object.id}} | Coreducar</title>
{% endblock %}
{% block titulo-view%}
<h3>Editar Post {{object.id}}</h3>	
{% endblock %}
{% block body-view%}
	<div class="col-sm-12">
		<form class="form-horizontal" method="POST" enctype="multipart/form-data">
			<div class="form-group"><br>
				<button type="submit" class="pull-right btn btin-icon btn-primary">Guardar <i class="entypo-check"></i></button>
			</div>
			{% csrf_token %}
			{% if form.errors %}
			<span class="alert-danger">{{form.errors}}</span>
			{% endif %}
			<div class="form-group">
				<label class="control-label">Titulo:</label>
				<div class="controls">{% render_field form.titulo class+="form-control" name+="titulo"%}
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Categoría:</label>
				<div class="controls">{% render_field form.categoria class+="form-control" %}</div>
			</div>
			<div class="form-group">
				 <label class="control-label">Cuerpo de la Noticia:</label>
				<div class="controls">{% render_field form.description class="form-control wysihtml5" data-stylesheet-url="/static/blog/css/wysihtml5-color.css/" name="description" id="sample_wysiwyg"%}</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">Imagen del POST</label>
				<div class="col-sm-5">
					<div class="fileinput fileinput-new" data-provides="fileinput">
						<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;" data-trigger="fileinput">{% if object.imagen %}
							<img src="{{object.imagen.url}}"width="200" height="150" alt="...">
						{% else %}
							<img src="http://placehold.it/200x150" alt="...">
							{% endif %}
						</div>
						<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px"></div>
						<span class="btn btn-white btn-file">
						<span class="fileinput-new">Seleccionar imagen</span>
						<span class="fileinput-exists">Cambiar</span>
							{% render_field form.imagen accept="image/*" name+="imagen"%}
							</span>
							<a href="#" class="btn btn-orange fileinput-exists" data-dismiss="fileinput">Quitar</a>
					</div>
				</div>
			</div>
		</form>	
	</div>
	<link type="text/javascript" href="{% static "blog/js/dropzone/fileinput.js"%}">
	<link type="text/javascript" href="{% static "blog/js/dropzone/dropzone.css"%} ">
	<link rel="stylesheet" href="{% static "blog/js/wysihtml5/bootstrap-wysihtml5.css" %}">
	<link rel="stylesheet" href="{% static "blog/js/codemirror/lib/codemirror.css" %}">
	<link rel="stylesheet" href="{% static "blog/js/uikit/css/uikit.min.css" %}">
	<link rel="stylesheet" href="{% static "blog/js/uikit/addons/css/markdownarea.css" %}">
	<script src="{% static "blog/js/bootstrap.js"%}"></script>
	<script type="text/javascript" src="{% static "blog/js/fileinput.js"%}"></script>
{% endblock %}