{% extends 'app/panel.html'%}
 {% load staticfiles %}
 {% load widget_tweaks %}
 {% load blogtag %}
{% block tittle-view %}
<title>Gestión Categorías | Coreducar</title>
{% endblock %}
{% block titulo-view%}
<h3>Gestionar Categorías del blog</h3>	
{% endblock %}
{% block body-view%} <br><br><br>
	<div class="col-sm-12">
		<div class="row">
			<div class="panel panel-primary" data-collapsed="0">
				<div class="panel-heading">
					<div class="panel-title">
						Nueva Categoría
					</div>
					<div class="panel-options">
						<a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
					</div>
				</div>
				<div class="panel-body">

					<form role="form" method="POST" class="form-horizontal form-groups-bordered">
						{% csrf_token %}
						{% if form.errors %}
						<span class="alert-danger">{{form.errors}}</span>
						{% endif %}

						<div class="form-group">
							<label class="col-sm-3 control-label">Nombre de la Categoría</label>
							
							<div class="col-sm-5">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-tag"></i></span>
									{% render_field form.nombre class+="form-control" name+="nombre" placeholder="Escriba nombre aquí..."%}
								</div>
							</div>
						</div>
						<div class="text-center"><br>
							<button type="submit" class="btn btn-lg btn-blue center">Guargar</button>
						</div>
						
					</form>
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="row">
				<div class="panel panel-primary" data-collapsed="0">
					
					<!-- panel head -->
					<div class="panel-heading">
						<div class="panel-title">Lista de Categorías Creadas</div>
						
						<div class="panel-options">
							
							<a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
							
						</div>
					</div>
					
					<!-- panel body -->
					<div class="panel-body">
						
						<table class="table table-bordered table-hover datatable" id="table-1">
							<thead>
								<tr>
									<th>#</th>
									<th>Nombre</th>
									<th>Slug</th>
									<th>Noticias relacionadas a esta Categoría</th>
									<th>Opciones</th>
								</tr>
							</thead>
							<tbody>
								{% for categoria in categorias %}
									<tr>
										<td>{{ forloop.counter }}</td>
										<td>{{categoria.nombre}}</td>
										<td>{{categoria.slug}}</td>
										<td>{{categoria.noticia_set|get_count_noticias}}</td>
										<td>
											<a href="/panel/blog/gestion-categorias/editar/{{categoria.id}}"><button class="btn">Editar</button></a>
											<a href="/panel/blog/gestion-categorias/borrar/{{categoria.id}}"><button class="btn">Borrar</button></a>
										</td>
									</tr>
								{% endfor %}
								
							</tbody>
							<tfoot>
								<tr>
									<th>#</th>
									<th>Nombre</th>
									<th>Slug</th>
									<th>Noticias relacionadas a esta Categoría</th>
									<th>Opciones</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
		
	

<script type="text/javascript">
var responsiveHelper;
var breakpointDefinition = {
    tablet: 1024,
    phone : 480
};
var tableContainer;

	jQuery(document).ready(function($)
	{
		tableContainer = $("#table-1");
		
		tableContainer.dataTable({
			"sPaginationType": "bootstrap",
			"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
			"bStateSave": true,
			

		    // Responsive Settings
		    bAutoWidth     : false,
		    fnPreDrawCallback: function () {
		        // Initialize the responsive datatables helper once.
		        if (!responsiveHelper) {
		            responsiveHelper = new ResponsiveDatatablesHelper(tableContainer, breakpointDefinition);
		        }
		    },
		    fnRowCallback  : function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
		        responsiveHelper.createExpandIcon(nRow);
		    },
		    fnDrawCallback : function (oSettings) {
		        responsiveHelper.respond();
		    }
		});
		
		$(".dataTables_wrapper select").select2({
			minimumResultsForSearch: -1
		});
	});
</script>
	
			
		
	
	
	<link rel="stylesheet" href="{% static "Panel/js/dropzone/fileinput.js"%}">
	<link rel="stylesheet" href="{% static "Panel/js/dropzone/dropzone.css"%} ">
	<link rel="stylesheet" href="{% static "Panel/js/wysihtml5/bootstrap-wysihtml5.css" %}">
	<link rel="stylesheet" href="{% static "Panel/js/codemirror/lib/codemirror.css" %}">
	<link rel="stylesheet" href="{% static "Panel/js/uikit/css/uikit.min.css" %}">
	<link rel="stylesheet" href="{% static "Panel/js/uikit/addons/css/markdownarea.css" %}">
	<link rel="stylesheet" href="{% static "Panel/css/font-icons/font-awesome/css/font-awesome.min.css"%}">
	<link rel="stylesheet" href="{% static "Panel/js/datatables/responsive/css/datatables.responsive.css"%}">
	<link rel="stylesheet" href="{% static "Panel/js/select2/select2-bootstrap.css"%}">
	<link rel="stylesheet" href="{% static "Panel/js/select2/select2.css"%}">
	<script src="{% static "Panel/js/jquery.dataTables.min.js"%}"></script>
	<script src="{% static "Panel/js/datatables/TableTools.min.js"%}"></script>
	<script src="{% static "Panel/js/dataTables.bootstrap.js"%}"></script>
	<script src="{% static "Panel/js/datatables/jquery.dataTables.columnFilter.js"%}"></script>
	<script src="{% static "Panel/js/datatables/lodash.min.js"%}"></script>
	<script src="{% static "Panel/js/datatables/responsive/js/datatables.responsive.js"%}"></script>
	<script src="{% static "Panel/js/bootstrap.js"%}"></script>
	<script src="{% static "Panel/js/fileinput.js"%}"></script>
	<script src="{% static "Panel/js/select2/select2.min.js"%}"></script>
{% endblock %}