{% extends 'blog/index.html'%}{% load widget_tweaks %}{% load staticfiles %}
{% block title-view %}
<title>{{noticia.titulo}} | Blog Tecnix</title>
<meta property="og:image" content="{{noticia.imagen.url}}" />
<meta property="og:url"           content="{{ request.get_host }}/blog/post/{{noticia.slug}}" />
    <meta property="og:type"          content="article" />
    <meta property="og:title"         content="{{noticia.titulo}}" />
    <meta property="og:description"   content="{{noticia.titulo}} Leer más..." />


{% endblock %}{% load blogtag %}
{% block body-view %} 
    <div class="container singlefullwidth sitecontainer single-wrapper bgw">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 m22 single-post">
                <div class="widget">
                    <div class="large-widget m30">
                        <div class="post clearfix">

                            <div class="title-area text-center">
                                <div class="bread">
                                    <ol class="breadcrumb">
                                        <li><a href="{% url 'home_blog' %}">Inicio</a></li>
                                        <li class="">{% for categoria in noticia.categoria.all %}
                                        {% if forloop.first %}
                                            {{categoria}}
                                        {% endif %}
                                        
                                        {% endfor %}</li>
                                        <li class="active">{{noticia.titulo}}</li>
                                    </ol>
                                </div><!-- end bread -->
                                <div class="colorfulcats">
                                {% for categoria in noticia.categoria.all %}
                                        <a href="#"><span class="label label-primary">{{categoria}}</span></a>
                                        
                                        {% endfor %}
                                    
                                    
                                </div>
                                <h3>{{noticia.titulo}}</h3>

                                <div class="large-post-meta">
                                    <i class="fa fa-user"></i> {{noticia.user}}</span>
                                    <small>&#124;</small>
                                    <span><a href="category.html"><i class="fa fa-clock-o"></i> {{noticia.created|date:"d M Y"}}</a></span>
                                    <small class="hidden-xs">&#124;</small>
                                    <span class="hidden-xs"><a href="single.html#comments"><i class="fa fa-comments-o"></i> {{answers.count}}</a></span>
                                    <small class="hidden-xs">&#124;</small>
                                    <span class="hidden-xs"><a href="single.html"><i class="fa fa-eye"></i> {{noticia.vistas}}</a></span>
                                </div><!-- end meta -->

                                <div class="post-sharing">
                                    <ul class="list-inline">
                                        <li>
                                        <div class="fb-share-button" data-href="http://{{request.get_host}}/blog/tutorial/{{tutorial.slug}}" data-layout="button_count" data-size="small" data-mobile-iframe="true">
                                        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F{{ request.get_host }}%2Fblog%2Fpost%2F{{noticia.slug}}%2F&amp;src=sdkpreparse" class="fb-button btn btn-primary" id="share_button_facebook" target="_blank"><i class="fa fa-facebook"></i> <span class="hidden-xs">Compartir en Facebook</span></a>
                                        </div>

                                       
                                        </li>
                                        <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="hidden-xs">Tweetear en Twitter</span></a></li>
                                        <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i><span class="hidden-xs"> Compartir en Google+</span></a></li>
                                    </ul>
                                </div><!-- end post-sharing -->
                            </div><!-- /.pull-right -->

                            <div class="post-media">
                                <a href="single.html">
                                    <img alt="" src="{{noticia.imagen.url}}" class="img-responsive">
                                </a>
                            </div>

                        </div><!-- end post -->

                        <div class="post-desc">
                            {{noticia.description|safe}}
                        


                        </div><!-- end post-desc -->

                       

                        <div class="row m22 related-posts">
                            <div class="col-md-12">
                                <div class="widget">
                                    <div class="widget-title">
                                        <h4>También te podría gustar leer... </h4>
                                        <hr>
                                    </div><!-- end widget-title -->

                                    <div class="review-posts row m30">

                                        {% for noticia2 in noticias %}
                                        {% if not forloop.first %}
                                        <div class="post-review col-md-4 col-sm-12 col-xs-12">
                                        <div class="post-media entry">
                                                <img src="{{noticia2.imagen.url}}" alt="" class="img-responsive">
                                                <div class="magnifier">
                                                    <div class="hover-title-left">
                                                        <span><a href="#" title=""><i class="fa fa-folder-open"></i> {{noticia2.titulo}}</a></span>
                                                    </div><!-- end title -->
                                                    <div class="hover-title">
                                                        <span><a href="#" title=""><i class="fa fa-comments-o"></i> {{noticia2.answer_set|get_count_comentarios}}</a></span>
                                                    </div><!-- end title -->
                                                </div><!-- end magnifier -->
                                            </div><!-- end media -->
                                            <div class="post-title">
                                                <h3><a href="single.html">{{noticia2.titulo}}</a></h3>
                                            </div><!-- end post-title -->
                                        </div><!-- end post-review -->
                                        {% endif %}
                                        {% endfor %}

                                        
                                    </div><!-- end review-post -->
                                </div><!-- end widget -->   
                            </div><!-- end col -->
                        </div><!-- end row -->

                        <div id="comments" class="row">
                            <div class="col-md-12">
                                <div class="widget">
                                    <div class="widget-title">
                                        <h4>Comentarios ({{answers.count}})</h4>
                                        <hr>
                                    </div><!-- end widget-title -->

                                    <div class="comments">
                                        <div class="well">
                                            {% if answers %}
                                            {% for comentario in answers %}

                                            <div class="media">
                                                
                                                <div class="media-body">
                                                    <h4 class="media-heading">{{comentario.user}}</h4>
                                                    <div class="time-comment clearfix">
                                                        <small class="pull-left">{{comentario.created|date:"d M Y P"}}</small>
                                                    </div><!-- end time-comment -->
                                                    <p>{{comentario.description}}</p>
                                                </div>
                                            </div><!-- end media -->
                                            {% endfor %}

                                            {% endif %}


                                            
                                        </div><!-- end well -->
                                    </div><!-- end collapse -->
                                </div><!-- end widget -->   
                            </div><!-- end col -->
                        </div><!-- end row -->

                        <div class="row">
                            <div class="col-md-12">
                                <div class="widget">
                                    <div class="widget-title">
                                        <h4>Déjanos un comentario...</h4>
                                        <hr>
                                    </div><!-- end widget-title -->

                                   <div class="commentform">
                                        <form class="row"method="POST">{% csrf_token %}
                                            <div class="col-md-12 col-sm-12">
                                                <label>Comentario: <span class="required">*</span></label>
                                                <textarea class="form-control" placeholder="" name="description"></textarea>
                                            </div>
                                            <div class="col-md-4 col-sm-12">
                                                <label>Tu nombre: <span class="required">*</span></label>
                                                <input type="text" class="form-control" placeholder="" name="user">
                                            </div>
                                            

                                            <div class="col-md-12 col-sm-12">
                                                <input type="submit" value="Enviar" class="btn btn-primary" />
                                            </div>
                                        </form>
                                    </div><!-- end newsletter -->
                                </div><!-- end widget -->   
                            </div><!-- end col -->
                        </div><!-- end row -->

                    </div><!-- end large-widget -->
                </div><!-- end widget -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
{% endblock %}

        