{% extends 'blog/index.html'%}{% load widget_tweaks %}{% load staticfiles %}
{% load blogtag %}
{% block title-view %}
<title>Categoria: {% for noticia in list  %}
                     {% if forloop.first %}
                         {% for categoria in noticia.categoria.all %}
                         {% if forloop.first %}
                             {{categoria}}
                         {% endif %}
                                        
                                        {% endfor %}
                                        {% endif %}
                    {% endfor %} | Blog Tecnix</title>
{% endblock %}

{% block body-view %}

        <section class="section banner text-center" style="background-image:url('upload/reviewbg.jpg');" data-img-width="1688" data-img-height="470" data-diff="100">
            <div class="container">    
                <div class="title-area">
                    <h2>{% for noticia in list  %}
                     {% if forloop.first %}
                         {% for categoria in noticia.categoria.all %}
                         {% if forloop.first %}
                             {{categoria}}
                         {% endif %}
                                        
                                        {% endfor %}
                                        {% endif %}
                    {% endfor %}
                    </h2>
                    <div class="bread">
                        <ol class="breadcrumb">
                            <li><a href="{% url 'home_blog' %}">Inicio</a></li>
                            <li class="active">{% for noticia in list  %}
                     {% if forloop.first %}
                         {% for categoria in noticia.categoria.all %}
                         {% if forloop.first %}
                             {{categoria}}
                         {% endif %}
                                        
                                        {% endfor %}
                                        {% endif %}
                    {% endfor %}</li>
                        </ol>
                    </div><!-- end bread -->
                </div><!-- /.pull-right -->
            </div><!-- end container -->
        </section>

        <div class="container sitecontainer bgw">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 m22 single-post">
                    <div class="widget">
                        <div class="large-widget m30">
                            <div class="post-desc">

                                <div class="reviewlist review-posts row m30">
                               
                                    {% for noticia in list  %}
                                    <div class="post-review col-md-6 col-sm-12">
                                        <div class="post-media entry">
                                            <a href="/blog/post/{{ noticia.slug }}" title="">
                                            <img src="{{ noticia.imagen.url }}" alt="" class="img-responsive">
                                            <div class="magnifier">
                                                <div class="hover-title">
                                                    {% for categoria in noticia.categoria.all %}
                                                    <span class="type">{{categoria}}</span>
                                                    {% endfor %}
                                                </div><!-- end title -->
                                            </div><!-- end magnifier -->
                                            </a>
                                        </div><!-- end media -->
                                        <div class="post-title">
                                            <h3><a href="single-review.html">{{ noticia.titulo }}</a></h3>
                                        </div><!-- end post-title -->
                                    </div><!-- end post-review -->
                                    {% endfor %}

                                    
                                </div><!-- end review-posts -->
                            </div><!-- end post-desc -->
                        </div><!-- end large-widget -->
                    </div><!-- end widget -->

                    <div class="pagination-wrapper text-center">
                        <nav>
                          <ul class="pagination">
                          {% if page_obj.has_previous %}
                          <li>
                            <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                          </li>
                          {% endif %}
                          {% for i in page_obj.paginator.page_range %}
                            {% if i == page_obj.number %}
                            <li><span>{{i}}</span></li>
                            {% else %}
                            <li><a href="?page={{i}}">{{i}}</a></li>
                            {% endif %}
                          {%endfor%}
                          {% if page_obj.has_next %}
                          <li>
                            <a href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                          </li>
                          {% endif %}
                           
                          </ul>
                        </nav>
                    </div>
                </div><!-- end col -->

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="widget">
                        <div class="widget-title">
                            <h4>Nuestras Redes Sociales</h4>
                            <hr>
                        </div>
                        <!-- end widget-title -->

                        <div class="social-media-widget m30">
                            <ul class="list-social clearfix">
                                <li class="facebook"><a href="https://www.facebook.com/TecnixCO" target="_blank"><i class="fa fa-facebook"></i> </a></li>
                                <li class="twitter"><a href="https://twitter.com/TecnixCO" target="_blank"><i class="fa fa-twitter"></i> </a></li>
                                <li class="youtube"><a href="#"><i class="fa fa-youtube" target="_blank"></i> </a></li>
                                <li class="instagram"><a href="https://www.instagram.com/tecnixco/" target="_blank"><i class="fa fa-instagram"></i> </a></li>
                            </ul>
                        </div>
                        <!-- end social -->
                    </div>
                    <div class="newsletter-widget m30 darkcolor">
                            <p>Suscríbete a nuestro boletín semanal y recibe nuestras publicaciones a tu email.</p>
                          
                            <h4 id="msj-error" class="text-danger"></h4>
                                <div class="input-group form-group text-success" id="msj">
                                    <label for="">
                                        <input type="text" id="nombre" name="nombre" placeholder="Cómo te llamas ?" required class="form-control" />
                                    </label>
                                    <label for="">
                                        <input type="text" id="email" name="email" placeholder="Cúal es tu email?" required class="form-control" />
                                    </label>
                                    <input type="submit" id="susciptor_form"value="Suscríbirme" class="btn btn-primary" />
                                </div>
                                
                         
                        </div>
                        <!-- end mini-widget -->

                    
                    </div>
                    <!-- end widget -->

                    

                    

                </div>
                <!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->

{% endblock %}