{% extends 'app/panel.html'%}
 {% load staticfiles %}
 {% load widget_tweaks %}
 {% load blogtag %}
{% block tittle-view %}
<title>Gestión Post | Coreducar</title>
{% endblock %}
{% block titulo-view%}
<h3>Gestionar Posts del blog</h3>	
{% endblock %}
{% block body-view%} 
	<div class="col-sm-12">
		
		<a href="{% url 'crear_post' %}"><button class="pull-right btn btn-primary btn-flat btn-lg">Crear Nueva Publicación</button></a><br>
		
		<div class="col-sm-12">

			<div class="row">
				<div class="panel panel-primary" data-collapsed="0">
					
					<!-- panel head -->
					<div class="panel-heading">
						<div class="panel-title">Lista de Posts Creados</div>
						
						<div class="panel-options">
							
							<a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
							
						</div>
					</div>
					
					<!-- panel body -->
					<div class="panel-body">
						
						<table class="table table-bordered table-hover datatable" id="table-1">
							<thead>
								<tr>
									<th>#</th>
									<th>Nombre</th>
									<th>Slug</th>
									<th>Número de comentarios</th>
									<th>Opciones</th>
								</tr>
							</thead>
							<tbody>
								{% for post in posts %}
									<tr>
										<td>{{ forloop.counter }}</td>
										<td>{{post.titulo|truncatechars:50}}</td>
										<td>{{post.slug|truncatechars:30}}</td>
										<td>{{post.answer_set|get_count_comentarios}}</td>
										<td>
											<a href="/panel/blog/editar-post/{{post.id}}"><button class="btn">Editar</button></a>
											<a href="/panel/blog/borrar-post/{{post.id}}"><button class="btn">Borrar</button></a>
										</td>
									</tr>
								{% endfor %}
								
							</tbody>
							<tfoot>
								<tr>
									<th>#</th>
									<th>Nombre</th>
									<th>Slug</th>
									<th>Noticias relacionadas a esta Categoría</th>
									<th>Opciones</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
		
	

<script type="text/javascript">
var responsiveHelper;
var breakpointDefinition = {
    tablet: 1024,
    phone : 480
};
var tableContainer;

	jQuery(document).ready(function($)
	{
		tableContainer = $("#table-1");
		
		tableContainer.dataTable({
			"sPaginationType": "bootstrap",
			"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
			"bStateSave": true,
			

		    // Responsive Settings
		    bAutoWidth     : false,
		    fnPreDrawCallback: function () {
		        // Initialize the responsive datatables helper once.
		        if (!responsiveHelper) {
		            responsiveHelper = new ResponsiveDatatablesHelper(tableContainer, breakpointDefinition);
		        }
		    },
		    fnRowCallback  : function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
		        responsiveHelper.createExpandIcon(nRow);
		    },
		    fnDrawCallback : function (oSettings) {
		        responsiveHelper.respond();
		    }
		});
		
		$(".dataTables_wrapper select").select2({
			minimumResultsForSearch: -1
		});
	});
</script>
	
			
		
	
	
	<link rel="stylesheet" href="{% static "Panel/js/dropzone/fileinput.js"%}">
	<link rel="stylesheet" href="{% static "Panel/js/dropzone/dropzone.css"%} ">
	<link rel="stylesheet" href="{% static "Panel/js/wysihtml5/bootstrap-wysihtml5.css" %}">
	<link rel="stylesheet" href="{% static "Panel/js/codemirror/lib/codemirror.css" %}">
	<link rel="stylesheet" href="{% static "Panel/js/uikit/css/uikit.min.css" %}">
	<link rel="stylesheet" href="{% static "Panel/js/uikit/addons/css/markdownarea.css" %}">
	<link rel="stylesheet" href="{% static "Panel/css/font-icons/font-awesome/css/font-awesome.min.css"%}">
	<link rel="stylesheet" href="{% static "Panel/js/datatables/responsive/css/datatables.responsive.css"%}">
	<link rel="stylesheet" href="{% static "Panel/js/select2/select2-bootstrap.css"%}">
	<link rel="stylesheet" href="{% static "Panel/js/select2/select2.css"%}">
	<script src="{% static "Panel/js/jquery.dataTables.min.js"%}"></script>
	<script src="{% static "Panel/js/datatables/TableTools.min.js"%}"></script>
	<script src="{% static "Panel/js/dataTables.bootstrap.js"%}"></script>
	<script src="{% static "Panel/js/datatables/jquery.dataTables.columnFilter.js"%}"></script>
	<script src="{% static "Panel/js/datatables/lodash.min.js"%}"></script>
	<script src="{% static "Panel/js/datatables/responsive/js/datatables.responsive.js"%}"></script>
	<script src="{% static "Panel/js/bootstrap.js"%}"></script>
	<script src="{% static "Panel/js/fileinput.js"%}"></script>
	<script src="{% static "Panel/js/select2/select2.min.js"%}"></script>
{% endblock %}